<form role="form" class="p-lg" id="editarEmpleadoGeneralesFormId" name="editarEmpleadoGeneralesForm" novalidate>
    <!--DATOS FISCALES-->
    <div class="row animated fadeInRight">
        <div class="col-sm-6 b-r">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Datos Personales</h3>
                    <div class="contact-box">
                        <div class="col-sm-6">
                            <div class="text-center">
                                <i class="fa fa fa-user fa-5x" aria-hidden="true"></i>
                                <div class="m-t-xs font-bold">{{editarEmpleadoGenerales.empleado.departamentoId}}</div>
                                <div class="m-t-xs">No Empleado: <span class="font-bold"></span>{{editarEmpleadoGenerales.empleado.noEmpleado}}</div>
                                <div class="m-t-xs">Registro: {{editarEmpleadoGenerales.empleado.fechaCreacion | date : format : timezone}}</div>
                                <div class="m-t-xs">Activo:
                                    <span ng-show="editarEmpleadoGenerales.empleado.activo">Si</span>
                                    <span ng-show="!editarEmpleadoGenerales.empleado.activo">No</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3>
                                <strong>
                                    {{editarEmpleadoGenerales.empleado.primerNombre}}
                                    {{editarEmpleadoGenerales.empleado.segundoNombre}}
                                    {{editarEmpleadoGenerales.empleado.apellidoPaterno}}
                                    {{editarEmpleadoGenerales.empleado.apellidoMaterno}}
                                </strong>
                            </h3>
                            <p class="m-t-xs font-bold">
                                {{editarEmpleadoGenerales.empleado.sexo}} <br>
                                Nacimiento: {{editarEmpleadoGenerales.empleado.nacimientoAnio}}/{{editarEmpleadoGenerales.empleado.nacimientoMes}}/{{editarEmpleadoGenerales.empleado.nacimientoDia}} <br>
                            </p>
                            <address>
                                <strong><i class="fa fa-envelope-o"></i> {{editarEmpleadoGenerales.empleado.email}}</strong> <br>
                                <abbr title="Phone">Tel:</abbr> {{editarEmpleadoGenerales.empleado.telefono}}<br>
                                <abbr title="Phone">Cel:</abbr> {{editarEmpleadoGenerales.empleado.celular}} <br>
                            </address>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <!--BOTON EDITAR -->
                    <button type="button"
                            class="btn btn-primary btn-xs pull-right"
                            ng-hide="editarEmpleadoGenerales.mostrarCampos"
                            ng-click="editarEmpleadoGenerales.editar()">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 animated fadeInRight" ng-show="editarEmpleadoGenerales.mostrarCampos">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Datos Personales</h3>
                </div>
                <!--NOMBRE DEl EMPLEADO-->
                <forma-datos-personales datos="editarEmpleadoGenerales.datosEmpleadoNuevo"></forma-datos-personales>
            </div>
        </div>
    </div>
    <hr>
    <!--DIRECCIÓN FISCAL-->
    <div class="row animated fadeInRight">
    </div>
    <!--ALERTA Y BOTÓN-->
    <div class="row">
        <div class="col-md-8">
            <alertas tipo="editarEmpleadoGenerales.tipoMsj" mensaje="editarEmpleadoGenerales.msj"></alertas>
        </div>
        <div class="col-md-3">
            <!--BOTON GUARDAR DATOS GENERALES-->
            <button type="button"
                    class="btn btn-primary pull-right"
                    ng-hide="!editarEmpleadoGenerales.mostrarCampos"
                    ng-disabled="editarEmpleadoGeneralesForm.$invalid"
                    ng-click="editarEmpleadoGenerales.actualizar(editarEmpleadoGeneralesForm)">
                Actualizar
            </button>
        </div>
    </div>
</form>