<form class="animated fadeInRight" role="form" id="empleadoFrmId" name="empleadoFrm" novalidate>
    <!--DATOS FISCALES-->
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <forma-datos-personales datos="editarEmpleadoGenerales.empleado"></forma-datos-personales>
                <!--NACIMIENTO-->
                <div class="col-sm-12">
                    <div class="form-group">
                        <div ng-messages="(empleadoFrm.elegirAnio.$dirty && empleadoFrm.elegirAnio.$error)
                                || (empleadoFrm.elegirMes.$dirty && empleadoFrm.elegirMes.$error)
                                || (empleadoFrm.elegirDia.$dirty && empleadoFrm.elegirDia.$error)"
                             role="alert">
                            <label>Fecha Nacimiento*
                                <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                                <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                                <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                            </label>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group"
                                         ng-class="{ 'has-error' : empleadoFrm.elegirAnio.$invalid && !empleadoFrm.elegirAnio.$pristine}">
                                        <elegir-anio anioid="editarEmpleadoGenerales.empleado.nacimientoAnio"></elegir-anio>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group"
                                         ng-class="{ 'has-error' : empleadoFrm.elegirMes.$invalid && !empleadoFrm.elegirMes.$pristine}">
                                        <elegir-mes mesid="editarEmpleadoGenerales.empleado.nacimientoMes"></elegir-mes>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group"
                                         ng-class="{ 'has-error' : empleadoFrm.elegirDia.$invalid && !empleadoFrm.elegirDia.$pristine}">
                                        <elegir-dia diaid="editarEmpleadoGenerales.empleado.nacimientoDia"></elegir-dia>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TELEFONO-->
                <div class="col-sm-4">
                    <div class="form-group"
                         ng-class="{ 'has-error' : empleadoFrm.telefono.$invalid && !empleadoFrm.telefono.$pristine}">
                        <div ng-messages="empleadoFrm.telefono.$dirty && empleadoFrm.telefono.$error"
                             role="alert">
                            <label> Teléfono*
                                <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                                <span class="animated fadeIn" style="color:red;" ng-message="pattern">10 dígitos</span>
                                <span class="animated fadeIn" style="color:red;" ng-message="pattern">inválido</span>
                            </label>
                            <input id="telefonosId" class="form-control" type="text" name="telefono"
                                   aria-describedby="sizing-addon1" maxlength="10" ng-pattern="/^[0-9]{10}$/"
                                   required ng-model="editarEmpleadoGenerales.empleado.telefono">
                        </div>
                    </div>
                </div>
                <!--CELULAR-->
                <div class="col-sm-4">
                    <div class="form-group"
                         ng-class="{ 'has-error' : empleadoFrm.celular.$invalid && !empleadoFrm.celular.$pristine}">
                        <div ng-messages="empleadoFrm.celular.$dirty && empleadoFrm.celular.$error"
                             role="alert">
                            <label> Celular *
                                <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                                <span class="animated fadeIn" style="color:red;" ng-message="pattern">10 dígitos</span>
                                <span class="animated fadeIn" style="color:red;" ng-message="pattern">inválido</span>
                            </label>
                            <input id="celularId" class="form-control" type="text" name="celular"
                                   aria-describedby="sizing-addon1" maxlength="10" ng-pattern="/^[0-9]{10}$/"
                                   required ng-model="editarEmpleadoGenerales.empleado.celular">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <alertas tipo="editarEmpleadoGenerales.tipoMsj" mensaje="editarEmpleadoGenerales.msj"></alertas>
                </div>
                <div class="col-sm-4">
                    <button type="button"
                            class="btn btn-primary pull-right"
                            ng-disabled="empleadoFrm.$invalid"
                            ng-click="editarEmpleadoGenerales.actualizarDatosGenerales()">
                        Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>