<form role="form"
      id="desactivarTiendaFormId"
      name="desactivarTiendaForm"
      class="p-lg"
      novalidate>
    <!--DATOS FISCALES-->
    <div class="row animated fadeInRight">
        <div class="col-sm-4 b-r">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Tienda Activa</h3>
                    <div class="contact-box">
                        <a href="">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <i class="fa fa-industry fa-5x" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <p class="m-t-xs font-bold">Tienda Activa: </p>
                                <h2>
                                    <strong>
                                        <span class="animated fadeInLeft" ng-show="desactivarTienda.tienda.activo">Esta tienda se encuentra activa</span>
                                        <span class="animated fadeInLeft" ng-hide="desactivarTienda.tienda.activo">Esta tienda se encuentra desactivada</span>
                                    </strong>
                                </h2>
                                <address>
                                    <strong class="label label-warning"><i class="fa fa-exclamation-triangle"></i> Advertencia</strong><br><br>
                                    <p>Eliminar una tienda implica grandes riesgos operativos y pérdida de información.</p>
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <!--BOTON EDITAR -->
                    <button type="button"
                            class="btn btn-primary btn-xs pull-right"
                            ng-click="desactivarTienda.editar()">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-8 animated fadeInRight" ng-show="desactivarTienda.ocultarBoton">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Eliminar Tienda</h3>
                </div>
                <div class="col-sm-offset-3 col-sm-6">
                    <h3><strong class="label label-warning"><i class="fa fa-exclamation-triangle"></i></strong>  IMPORTANTE</h3>
                    <h4>La tienda dejará de operar en el sistema y no se guardará más información.</h4>
                    <div class="form-group" ng-class="{ 'has-error' : desactivarTiendaForm.cuentaContable.$invalid && !desactivarTiendaForm.cuentaContable.$pristine}">
                        <div ng-messages="desactivarTiendaForm.cuentaContable.$dirty && desactivarTiendaForm.cuentaContable.$error" role="alert">
                            <label>Acción
                                <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                                <span class="animated fadeIn" style="color:red;" ng-message="pattern"> caracter inválido</span>
                                <span class="animated fadeIn" style="color:red;" ng-message="existecta">registrado</span>
                            </label>
                            <radio-desactivar dato="desactivarTienda.datos.activo"></radio-desactivar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--ALERTA Y BOTÓN-->
    <div class="row">
        <div class="col-md-8">
            <alertas tipo="desactivarTienda.tipoMsj" mensaje="desactivarTienda.msj"></alertas>
        </div>
        <div class="col-md-3" ng-show="desactivarTienda.ocultarBoton">
            <!--BOTON GUARDAR DATOS GENERALES-->
            <button type="button"
                    class="btn btn-primary pull-right"
                    ng-disabled="desactivarTiendaForm.$invalid"
                    ng-click="desactivarTienda.desactivar(desactivarTiendaForm)">
                Aceptar
            </button>
        </div>
    </div>
</form>