<ng-form name="formaComisionFrm">
    <div class="row">
        <!-- NOMBRE -->
        <div class="col-sm-12">
            <div class="form-group" ng-class="{ 'has-error' : formaComisionFrm.nombre.$invalid && !formaComisionFrm.nombre.$pristine}">
                <div ng-messages="formaComisionFrm.nombre.$dirty && formaComisionFrm.nombre.$error" role="alert">
                    <label>Nombre *
                        <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="minlength, maxlength"> min 1, max 50 letras</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="pattern"> caracter inválido</span>
                    </label>
                    <input id="nombreId"
                           class="form-control"
                           name="nombre"
                           type="text"
                           placeholder="Nombre de la Comisión"
                           aria-describedby="sizing-addon1"
                           minlength="2"
                           maxlength="51"
                           ng-minlength="2"
                           ng-maxlength="50"
                           ng-pattern="/^[a-zA-ZñÑ\s\d]+$/"
                           required
                           ng-disabled="formaComision.tipoMsj === 'success'"
                           ng-model="formaComision.comision.nombre">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!--COMISION DE PRODUCTO EXISTENTE DE MI TIENDA-->
        <div class="col-sm-6">
            <div class="form-group"
                 ng-class="{ 'has-error' : formaComisionFrm.comisionProdInt.$invalid && !formaComisionFrm.comisionProdInt.$pristine}">
                <div ng-messages="formaComisionFrm.comisionProdInt.$dirty && formaComisionFrm.comisionProdInt.$error" role="alert">
                    <label>
                        Comisión tienda *
                        <span class="animated fadeIn" style="color:red;" ng-message="min">mix 0.0000%</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="max">max 20%</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="step">max 4 decimales</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                    </label>
                    <input id="comisionProdIntId"
                           class="form-control"
                           type="number"
                           name="comisionProdInt"
                           max="20.00"
                           min="0.0001"
                           step=".0001"
                           required
                           ng-disabled="formaComision.tipoMsj === 'success'"
                           ng-model="formaComision.comision.comisionProdInt">
                </div>
            </div>
        </div>
        <!--COMISION DE PRODUCTO EXISTENTE DE TIENDA EXTERNA-->
        <div class="col-sm-6">
            <div class="form-group"
                 ng-class="{ 'has-error' : formaComisionFrm.comisionProdExt.$invalid && !formaComisionFrm.comisionProdExt.$pristine}">
                <div ng-messages="formaComisionFrm.comisionProdExt.$dirty && formaComisionFrm.comisionProdExt.$error" role="alert">
                    <label>
                        Comisión tienda externa *
                        <span class="animated fadeIn" style="color:red;" ng-message="min">mix 0.0000%</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="max">max 20%</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="step">max 4 decimales</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                    </label>
                    <input id="comisionProdExtId"
                           class="form-control"
                           type="number"
                           name="comisionProdExt"
                           max="20.00"
                           min="0.0001"
                           step=".0001"
                           required
                           ng-disabled="formaComision.tipoMsj === 'success'"
                           ng-model="formaComision.comision.comisionProdExt">
                </div>
            </div>
        </div>
    </div>
</ng-form>