<form class="animated fadeInRight" role="form" id="empleadoDireccionFrmId" name="empleadoDireccionFrm" novalidate>
    <!--DATOS FISCALES-->
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <forma-direccion direccion="empleadoDireccion.direccion"></forma-direccion>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <alertas tipo="empleadoDireccion.tipoMsj" mensaje="empleadoDireccion.msj"></alertas>
                </div>
                <div class="col-md-3">
                    <!--BOTON GUARDAR DIRECCIÓN-->
                    <button type="button"
                            class="btn btn-primary pull-right"
                            ng-hide="empleadoDireccion.direccion._id"
                            ng-disabled="empleadoDireccionFrm.$invalid"
                            ng-click="empleadoDireccion.guardarDireccion()">
                        Guardar
                    </button>
                    <!--BOTON ACTUALIZAR DIRECCIÓN-->
                    <button type="button"
                            class="btn btn-primary pull-right"
                            ng-show="empleadoDireccion.direccion._id"
                            ng-disabled="empleadoDireccionFrm.$invalid"
                            ng-click="empleadoDireccion.actualizarDireccion()">
                        Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>