<div class="row">
    <div class="col-sm-4">
        <h2>Marca: <span class="text-navy">{{existenciaProductosTienda.marca.nombre}}</span></h2>
    </div>
    <div class="col-sm-4">
        <div class="ibox float-e-margins">
            <buscar-producto
                    marcaid="existenciaProductosTienda.marcaId"
                    producto="existenciaProductosTienda.productoSelec">
            </buscar-producto>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <alertas tipo="existenciaProductosTienda.tipoMsj"
                 mensaje="existenciaProductosTienda.msj">
        </alertas>
    </div>
</div>

<div class="clients-list">
    <div class="full-height-scroll" full-scroll>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>producto().campoBusqueda</th>
                        <th>Existencia</th>
                        <th>Actualizar Existencia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="producto in existenciaProductosTienda.productos | itemsPerPage: existenciaProductosTienda.perPage"
                        total-items="existenciaProductosTienda.productosCount">
                        <td>{{producto.producto().campoBusqueda}}</td>
                        <td>{{producto.cantidad}}</td>
                        <td>
                            <form role="form"
                                  style="max-width: 250px"
                                  id="editarExistenciaFrmId"
                                  name="editarExistenciaFrm"
                                  novalidate>
                                <div class="input-group input-group-sm" ng-class="{ 'has-error' : editarExistenciaFrm.nuevaExistencia.$invalid && !editarExistenciaFrm.nuevaExistencia.$pristine}">
                                    <input id="nuevaExistenciaId"
                                           class="form-control "
                                           type="number"
                                           name="nuevaExistencia"
                                           placeholder="Nuevo valor"
                                           aria-describedby="sizing-addon1"
                                           max="10000"
                                           min="0"
                                           required
                                           ng-model="producto.nuevaExistencia">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"
                                                ng-disabled="editarExistenciaFrm.$invalid"
                                                ng-click="existenciaProductosTienda.actualizar(producto.nuevaExistencia, producto._id, editarExistenciaFrm)"
                                                type="button">Actualizar
                                        </button>
                                    </span>
                                    <div ng-messages="editarExistenciaFrm.nuevaExistencia.$dirty && editarExistenciaFrm.nuevaExistencia.$error" role="alert">
                                        <div style="color: red" ng-message="max">máximo 10 mil</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<dir-pagination-controls on-page-change="existenciaProductosTienda.pageChanged(newPageNumber)"></dir-pagination-controls>
