<h2>Marca: {{admonMarca.marca.nombre}}</h2>
<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <span class="pull-right small text-muted">
                <a ui-sref="app.marcas.lista">
                    <i class="fa fa-chevron-left"></i>  Atras
                </a>
            </span>
            <li ng-class="{active: admonMarca.tab === $index}" ng-repeat="tab in admonMarca.tabs">
                <a ng-click="admonMarca.tab = $index" ui-sref="{{tab.estado}}">
                    <i class="{{tab.icono}}"></i>{{tab.titulo}}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <div ui-view=""></div>
                </div>
            </div>
        </div>
    </div>
</div>