<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button id="importadoId"
                class="btn btn-default"
                name="importado"
                type="button"
                required
                uib-btn-radio="false"
                ng-model="radioImportado.importado">Nacional
        </button>
    </div>
    <div class="btn-group" role="group">
        <button id="internacionalId"
                class="btn btn-default"
                name="internacional"
                type="button"
                required
                uib-btn-radio="true"
                ng-model="radioImportado.importado">Importado
        </button>
    </div>
</div>