<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>_id</th>
            <th>inventarioId</th>
            <th>tiendaId</th>
            <th>productoId</th>
            <th>marcaId</th>
            <th>costo</th>
            <th>factorId</th>
            <th>cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-responsive"
            dir-paginate="producto in listaProductosXMarca.productos | itemsPerPage: listaProductosXMarca.perPage"
            total-items="listaProductosXMarca.productosCount">
            <td><input type="checkbox"></td>
            <td>{{producto._id}}</td>
            <td>{{producto.inventarioId}}</td>
            <td>{{producto.tiendaId}}</td>
            <td>{{producto.productoId}}</td>
            <td>{{producto.marcaId}}</td>
            <td>{{producto.costo}}</td>
            <td>{{producto.factorId}}</td>
            <td>{{producto.cantidad}}</td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls
        on-page-change="listaProductosXMarca.pageChanged(newPageNumber)">
</dir-pagination-controls>