<!--Esto es la implentacion del autocomplete-->
<!--
<div class="panel-body">
    <div class="row">
        <div class="col-xs-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <input type="text"
                           ng-model="factores.marcaSelec"
                           uib-typeahead="marca as marca.nombre for marca in factores.buscarMarca($viewValue)"
                           class="form-control">
                    {{factores.marcaSelec}}
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <strong>Factores</strong>
        </div>
    </div>
</div>
-->
<div class="panel-body">
    <div class="row">
        <div class="col-md-4">
            <a ng-click="factores.crearFactor()">
                <div class="widget yellow-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-flask fa-4x" aria-hidden="true"></i>
                    <h1 class="m-xs">Crear</h1>
                    <h3 class="font-bold no-margins">Nuevo Factor</h3>
                    <small>power</small>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-8">
            <a ng-click="factores.aplicarFactor()">
                <div class="widget lazur-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-archive fa-4x" aria-hidden="true"></i>
                        <h1 class="m-xs">Aplicar</h1>
                        <h3 class="font-bold no-margins"> Factor a Productos</h3>
                        <small>small</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
