<!--Esto es la implentacion del autocomplete-->
<!--
<div class="panel-body">
    <div class="row">
        <div class="col-xs-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <input type="text"
                           ng-model="factores.marcaSelec"
                           uib-typeahead="marca as marca.nombre for marca in factores.buscarMarca($viewValue)"
                           class="form-control">
                    {{factores.marcaSelec}}
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <strong>Factores</strong>
        </div>
    </div>
</div>
-->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Custom responsive table </h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3 m-b-xs">
                            <div class="ibox float-e-margins">
                                <input type="text" class="form-control" ng-model="factores.marcaSelec"
                                       uib-typeahead="marca as marca.nombre for marca in factores.buscarMarca($viewValue)"
                                       placeholder="Escriba la marca">
                            </div>
                        </div>
                        <div class="col-sm-6 m-b-xs">
                            <div class="ibox float-e-margins" ng-if="factores.marcaSelec._id">
                                <input type="text" class="form-control" ng-model="factores.prodSelec"
                                       uib-typeahead="producto as producto.campoBusqueda for producto in factores.buscarProducto($viewValue)"
                                       placeholder="Codigo Proveedor">
                            </div>
                        </div>
                    </div>
                    <div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Project</th>
                                <th>Completed</th>
                                <th>Task</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-responsive" dir-paginate="producto in factores.productos | itemsPerPage: factores.perPage"
                                total-items="factores.productosCount">
                                <td><input icheck type="checkbox" ng-model="main.checkOne"></td>
                                <td>{{producto.marcaId}}
                                    <small>{{producto.productoId}}</small>
                                </td>
                                <td><pie-chart data="main.PieChart4.data" options="main.PieChart4.options"></pie-chart></td>
                                <td>20%</td>
                                <td>Jul 14, 2013</td>
                                <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td><input icheck type="checkbox" ng-model="main.unCheck3"></td>
                                <td>Gamma project</td>
                                <td><pie-chart data="main.PieChart5.data" options="main.PieChart5.options"></pie-chart></td>
                                <td>18%</td>
                                <td>Jul 22, 2013</td>
                                <td><a href=""><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls on-page-change="factores.pageChanged(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
</div>