<!--DATOS FISCALES-->
<div class="row animated fadeInRight">
    <div class="col-sm-4 b-r">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-box">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <address>
                            {{proveedorDireccion.direccionActual.calle}}
                            {{proveedorDireccion.direccionActual.numExt}}<span ng-show="proveedorDireccion.direccionActual._id">,</span>
                            <span ng-show="proveedorDireccion.direccionActual.numInt">Int. {{proveedorDireccion.direccionActual.numInt}}.</span> <br>
                            {{proveedorDireccion.direccionActual.colonia}}
                            <span ng-show="proveedorDireccion.direccionActual._id">CP.</span> {{proveedorDireccion.direccionActual.codigoPostal}}
                            {{proveedorDireccion.direccionActual.delMpio}}<span ng-show="proveedorDireccion.direccionActual._id">,</span>
                            {{proveedorDireccion.direccionActual.estado}}<br>
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <!--BOTON EDITAR -->
                <button type="button"
                        class="btn btn-primary btn-xs pull-right"
                        ng-show="proveedorDireccion.direccionActual._id && !proveedorDireccion.mostrarCampos"
                        ng-click="proveedorDireccion.editar()">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                </button>
            </div>
        </div>
    </div>
    <!--DIRECCION-->
    <div class="col-sm-8 animated fadeInRight">
        <div class="row">
            <cambios-direccion
                    ng-if="proveedorDireccion.direccionActual._id && proveedorDireccion.mostrarCampos"
                    direccion="proveedorDireccion.direccion">
            </cambios-direccion>
            <alta-direccion
                    ng-if="!proveedorDireccion.direccionActual._id"
                    propietario-id="proveedorDireccion.propietarioId">
            </alta-direccion>
        </div>
    </div>
</div>