<!--DATOS FISCALES-->
<div class="row animated fadeInRight">
    <div class="col-sm-4 b-r">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-box">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <address>
                            {{proveedorDatosFiscales.datosFiscalesActuales.calle}}
                            {{proveedorDatosFiscales.datosFiscalesActuales.numExt}}<span ng-show="proveedorDatosFiscales.datosFiscalesActuales._id">,</span>
                            <span ng-show="proveedorDatosFiscales.datosFiscalesActuales.numInt">Int. {{proveedorDatosFiscales.datosFiscalesActuales.numInt}}.</span> <br>
                            {{proveedorDatosFiscales.datosFiscalesActuales.colonia}}
                            <span ng-show="proveedorDatosFiscales.datosFiscalesActuales._id">CP.</span> {{proveedorDatosFiscales.datosFiscalesActuales.codigoPostal}}
                            {{proveedorDatosFiscales.datosFiscalesActuales.delMpio}}<span ng-show="proveedorDatosFiscales.datosFiscalesActuales._id">,</span>
                            {{proveedorDatosFiscales.datosFiscalesActuales.estado}}<br>
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <button type="button"
                        class="btn btn-primary btn-xs pull-right"
                        ng-show="proveedorDatosFiscales.datosFiscalesActuales._id && !proveedorDatosFiscales.mostrarCampos"
                        ng-click="proveedorDatosFiscales.editar()">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-8 animated fadeInRight">
        <div class="row">
            <alta-datos-fiscales
                    ng-if="proveedorDatosFiscales.datosFiscalesActuales._id === undefined"
                    propietario-id="proveedorDatosFiscales.propietarioId">
            </alta-datos-fiscales>
            <!--&lt;!&ndash;-->
            <cambios-datos-fiscales
                    ng-if="proveedorDatosFiscales.datosFiscalesActuales._id && proveedorDatosFiscales.mostrarCampos"
                    datos-fiscales="proveedorDatosFiscales.datosFiscales">
            </cambios-datos-fiscales>
            <!--&ndash;&gt;-->
        </div>
    </div>
</div>