<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button id="desactivarTiendaProveedorId"
                class="btn btn-default"
                name="desactivarTiendaProveedor"
                type="button"
                required
                uib-btn-radio="false"
                ng-model="desactivarTiendaProveedor.dato">Desactivar
        </button>
    </div>
    <div class="btn-group" role="group">
        <button id="desactivarTiendaProveedorId"
                class="btn btn-default"
                name="desactivarTiendaProveedor"
                type="button"
                required
                uib-btn-radio="true"
                ng-model="desactivarTiendaProveedor.dato">Activar
        </button>
    </div>
</div>