<div class="row">
    <div class="col-sm-6 m-b-xs">
        <div class="ibox float-e-margins">
            <input type="text"
                   class="form-control"
                   placeholder="Ingresa la marca"
                   uib-typeahead="marca as marca.nombre for marca in buscarMarcaProducto.buscarMarca($viewValue)"
                   ng-model="buscarMarcaProducto.marca">
        </div>
    </div>
    <div class="col-sm-6 m-b-xs">
        <div class="ibox float-e-margins" ng-if="buscarMarcaProducto.marca._id">
            <input type="text"
                   class="form-control"
                   placeholder="Ingresa el Codigo de Producto"
                   uib-typeahead="producto as producto.campoBusqueda for producto in buscarMarcaProducto.buscarProducto($viewValue)"
                   ng-model="buscarMarcaProducto.prod">
        </div>
    </div>
</div>