<div class="row m-b-lg m-t-lg">
    <div class="col-md-6">
        <div class="profile-image">
            <i class="fa fa-industry fa-5x" aria-hidden="true"></i>
        </div>
        <div class="profile-info">
            <div>
                <h2 class="no-margins">{{editarProveedor.proveedor.nombre}}</h2>
                <br>
                <mostrar-direccion propietario-Id="editarProveedor.proveedor._id"></mostrar-direccion>
                <!--<pre>{{editarProveedor.proveedor|json}}</pre>-->
                <hr>
                <mostrar-datos-fiscales propietario-id="editarProveedor.proveedor._id" proveedor-matriz="editarProveedor.proveedor.proveedorMatrizId"></mostrar-datos-fiscales>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <table class="table small m-b-xs">
            <tbody>
            <tr>
                <td>Cuenta Contable</td>
                <td>{{editarProveedor.proveedor.cuentaContable}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{editarProveedor.proveedor.email}}</td>
            </tr>
            <tr ng-repeat="telefono in editarProveedor.proveedor.telefonos">
                <td>Teléfono</td>
                <td>{{telefono.telefono}} <span ng-show="telefono.extension"> Ext. {{telefono.extension}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
    </div>
</div>
<hr>
<div class="row" style="min-height:250px !important;">
    <div class="col-sm-2">
        <ul class="nav nav-tabs tabs-left">
            <li data-toggle="tab"
                ng-repeat="tab in editarProveedor.tabs"
                ng-class="{active: editarProveedor.tab === $index}">
                <a ui-sref="{{tab.estado}}({proveedorId: editarProveedor.proveedorId})">
                    <i class="{{tab.icono}}" aria-hidden="true"></i> {{tab.titulo}}
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-10">
        <div ui-view=""></div>
    </div>
    <div class="clearfix"></div>
</div>