<h2>{{editarProveedor.tienda.nombre}}</h2>
<hr>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li>
                <span class="small">
                    <a ui-sref="app.proveedores.lista" class="text-navy"><br>
                        <i class="fa fa-chevron-left"></i>  Atrás &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </span>
            </li>
            <li ng-class="{active: editarProveedor.tab === $index}" ng-repeat="tab in editarProveedor.tabs">
                <a ng-click="editarProveedor.tab = $index" ui-sref="{{tab.estado}}">
                    <i class="{{tab.icono}}"></i>{{tab.titulo}}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <div ui-view="" class="animated fadeInRight"></div>
                </div>
            </div>
        </div>
    </div>
</div>
