<form class="animated fadeInRight" role="form" id="editarProveedorDatosFiscalesFrmId" name="editarProveedorDatosFiscalesFrm" novalidate>
    <div class="row">
        <div class="col-sm-12">
            <div class="row" ng-show="!editarProveedorDatosFiscales.datosFiscales._id">
                <div class="col-sm-12">
                    <h3 class="text-navy">Datos Fiscales</h3>
                </div>
                <forma-datos-fiscales
                        datos="editarProveedorDatosFiscales.datosFiscales">
                </forma-datos-fiscales>
            </div>
            <hr>
            <div class="row animated fadeIn" ng-show="editarProveedorDatosFiscales.datosFiscales.tipoPersona">
                <div class="col-sm-12">
                    <h3 class="text-navy">Dirección Fiscal</h3>
                </div>
                <forma-direccion
                        direccion="editarProveedorDatosFiscales.datosFiscales">
                </forma-direccion>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <alertas tipo="editarProveedorDatosFiscales.tipoMsj" mensaje="editarProveedorDatosFiscales.msj"></alertas>
                </div>
                <div class="col-md-3">
                    <button type="button"
                            class="btn btn-primary pull-right"
                            ng-show="!editarProveedorDatosFiscales.datosFiscales._id"
                            ng-disabled="editarProveedorDatosFiscalesFrm.$invalid"
                            ng-click="editarProveedorDatosFiscales.altaDatosFiscales()">
                        Guardar Datos Fiscales y Dirección
                    </button>
                    <!--&lt;!&ndash;-->
                    <button type="button"
                            class="btn btn-primary pull-right"
                            ng-show="editarProveedorDatosFiscales.datosFiscales.codigoPostal"
                            ng-disabled="editarProveedorDatosFiscalesFrm.$invalid"
                            ng-click="editarProveedorDatosFiscales.actualizarDireccionFiscal()">
                        Actualizar Dirección Fiscal
                    </button>
                    <!--&ndash;&gt;-->
                </div>
            </div>
        </div>
    </div>
</form>
<pre>{{editarProveedorDatosFiscales.datosFiscales|json}}</pre>