<form role="form" class="p-lg" id="agregarDatosEmpleadoFrmId" name="agregarDatosEmpleadoFrm" novalidate>
    <fieldset>
        <forma-datos-personales datos="agregarDatosEmpleado.credentials.profile"></forma-datos-personales>
        <!--NACIMIENTO-->
        <div class="col-sm-12">
            <div class="form-group">
                <div ng-messages="(agregarDatosEmpleadoFrm.elegirAnio.$dirty && agregarDatosEmpleadoFrm.elegirAnio.$error)
                                || (agregarDatosEmpleadoFrm.elegirMes.$dirty && agregarDatosEmpleadoFrm.elegirMes.$error)
                                || (agregarDatosEmpleadoFrm.elegirDia.$dirty && agregarDatosEmpleadoFrm.elegirDia.$error)"
                     role="alert">
                    <label>Fecha Nacimiento*
                        <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                    </label>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : agregarDatosEmpleadoFrm.elegirAnio.$invalid && !agregarDatosEmpleadoFrm.elegirAnio.$pristine}">
                                <elegir-anio anio-Id="agregarDatosEmpleado.credentials.profile.nacimientoAnio"></elegir-anio>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : agregarDatosEmpleadoFrm.elegirMes.$invalid && !agregarDatosEmpleadoFrm.elegirMes.$pristine}">
                                <elegir-mes mes-Id="agregarDatosEmpleado.credentials.profile.nacimientoMes"></elegir-mes>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : agregarDatosEmpleadoFrm.elegirDia.$invalid && !agregarDatosEmpleadoFrm.elegirDia.$pristine}">
                                <elegir-dia dia-Id="agregarDatosEmpleado.credentials.profile.nacimientoDia"></elegir-dia>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--TELEFONO-->
        <div class="col-sm-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : agregarDatosEmpleadoFrm.telefono.$invalid && !agregarDatosEmpleadoFrm.telefono.$pristine}">
                <div ng-messages="agregarDatosEmpleadoFrm.telefono.$dirty && agregarDatosEmpleadoFrm.telefono.$error"
                     role="alert">
                    <label> Teléfono*
                        <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="pattern">10 dígitos</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="pattern">inválido</span>
                    </label>
                    <input id="telefonosId" class="form-control" type="text" name="telefono"
                           aria-describedby="sizing-addon1" maxlength="10" ng-pattern="/^[0-9]{10}$/"
                           required ng-model="agregarDatosEmpleado.credentials.profile.telefono">
                </div>
            </div>
        </div>
        <!--CELULAR-->
        <div class="col-sm-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : agregarDatosEmpleadoFrm.celular.$invalid && !agregarDatosEmpleadoFrm.celular.$pristine}">
                <div ng-messages="agregarDatosEmpleadoFrm.celular.$dirty && agregarDatosEmpleadoFrm.celular.$error"
                     role="alert">
                    <label> Celular *
                        <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="pattern">10 dígitos</span>
                        <span class="animated fadeIn" style="color:red;" ng-message="pattern">inválido</span>
                    </label>
                    <input id="celularId" class="form-control" type="text" name="celular"
                           aria-describedby="sizing-addon1" maxlength="10" ng-pattern="/^[0-9]{10}$/"
                           required ng-model="agregarDatosEmpleado.credentials.profile.celular">
                </div>
            </div>
        </div>
        <!--PUESTO-->
        <div class="col-sm-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : agregarDatosEmpleadoFrm.departamento.$invalid && !agregarDatosEmpleadoFrm.departamento.$pristine}">
                <div ng-messages="agregarDatosEmpleadoFrm.departamento.$dirty && agregarDatosEmpleadoFrm.departamento.$error"
                     role="alert">
                    <label> Puesto *
                        <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                    </label>
                    <elegir-departamento departamento="agregarDatosEmpleado.credentials.profile.departamentoId"></elegir-departamento>
                </div>
            </div>
        </div>
        <!--CONTRASEÑA-->
        <div class="col-sm-6">
            <div class="form-group"
                 ng-class="{ 'has-error' : agregarDatosEmpleadoFrm.password.$invalid && !agregarDatosEmpleadoFrm.password.$pristine}">
                <div ng-messages="agregarDatosEmpleadoFrm.password.$dirty && agregarDatosEmpleadoFrm.password.$error"
                     role="alert">
                    <label> Contraseña *
                        <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                    </label>
                    <input id="passwordId" class="form-control " name="password" type="password"
                           placeholder="Contraseña" aria-describedby="sizing-addon2" maxlength="8" minlength="4"
                           required ng-model="agregarDatosEmpleado.credentials.password">
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <!--BOTON SIGUIENTE-->
            <button type="button" class="btn btn-primary pull-right"
                    ng-disabled="agregarDatosEmpleadoFrm.$invalid"
                    ng-click="agregarDatosEmpleado.siguiente()">
                Siguiente
            </button>
        </div>
    </div>
</form>