<form role="form" id="aplicarFactorFrmId" name="aplicarFactorFrm" novalidate>
    <div class="row wrapper border-bottom white-bg page-heading">
        <!--TITULO MODAL-->
        <div class="col-lg-10">
            <h2>{{aplicarFactor.titulo}}
                <small></small>
            </h2>
        </div>
        <!-- TACHE (CERRAR MODAL)-->
        <div class="col-lg-2">
            <div class="ibox-tools">
                <br>
                <a ng-click="aplicarFactor.cerrar()"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <!-- BODY MODAL -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content">
                <p>
                    Llena los campos según el producto y/o tipos de productos que deseas encontrar para aplicar un factor.
                    <br>
                    <br>
                </p>
                <!--BOTONES QUE INDICAN EN QUE PASO SE ENCUENTRA EL USUARIO-->
                <div class="row" ng-show="aplicarFactor.pasoActual != 4">
                    <div class="col-md-4">
                        <button type="button"
                                class="btn btn-block"
                                ng-class="{'btn-default' : aplicarFactor.pasoActual != 1, 'btn-primary' : aplicarFactor.pasoActual === 1 }"
                                ng-disabled="aplicarFactor.pasoActual != 1">
                            Paso 1
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                                class="btn btn-block"
                                ng-class="{'btn-default' : aplicarFactor.pasoActual != 2, 'btn-primary' : aplicarFactor.pasoActual === 2 }"
                                ng-disabled="aplicarFactor.pasoActual != 2">
                            Paso 2
                        </button>
                    </div>
                </div>

                <br>

                <!--INFORMACIÓN GENERAL-->
                <div style="padding: 5px;" class="row jumbotron animated fadeInRight" ng-show="aplicarFactor.pasoActual === 1">
                    <h3>Datos Generales</h3>
                    <ng-form name="datosGeneralesForm">
                        <!--NOMBRE DE LA EMPRESA-->
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error' : datosGeneralesForm.marca.$invalid && !datosGeneralesForm.marca.$pristine}">
                                <div ng-messages="datosGeneralesForm.marca.$dirty && datosGeneralesForm.marca.$error" role="alert">
                                    <label>Marca *
                                        <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                                    </label>
                                    <input id="marcaId"
                                           class="form-control text-uppercase"
                                           type="text"
                                           name="marca"
                                           required
                                           uib-typeahead="marca as marca.nombre for marca in aplicarFactor.buscarMarca($viewValue)"
                                           ng-model="aplicarFactor.marcaSelec">
                                </div>
                            </div>
                        </div>
                        <!-- EMAIL DE CONTACTO -->
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error' : datosGeneralesForm.email.$invalid && !datosGeneralesForm.email.$pristine}">
                                <div ng-messages="datosGeneralesForm.email.$dirty && datosGeneralesForm.email.$error" role="alert">
                                    <label> Linea
                                        <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                                        <span class="animated fadeIn" style="color:red;" ng-message="email">incorrecto</span>
                                        <span class="animated fadeIn" style="color:red;" ng-message="mixlength, maxlength"> min 2, max 50 letras</span>
                                    </label>
                                    <input id="emailId"
                                           class="form-control texto-en-mayusculas"
                                           name="email"
                                           type="email"
                                           aria-describedby="sizing-addon1"
                                           minlength="5"
                                           maxlength="51"
                                           ng-minlength="5"
                                           ng-maxlength="50"
                                           required
                                           ng-model="aplicarFactor.datos.email">
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
                <!--DATOS FISCALES-->
                <div style="padding: 5px;" class="row jumbotron animated fadeInRight" ng-show="aplicarFactor.pasoActual === 2">
                    <h3>Datos Fiscales</h3>
                    <ng-form name="datosFiscalesForm">
                        <forma-datos-fiscales datos="aplicarFactor.datosFiscales"></forma-datos-fiscales>
                    </ng-form>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <alertas tipo="aplicarFactor.tipoMsj" mensaje="aplicarFactor.msj"></alertas>
                    </div>
                </div>
            </div>
        </div>
        <!--FOOTER MODAL-->
        <div class="inmodal">
            <!-- BOTON / SIGUIENTE / GUARDAR / GUARDAR-->
            <div class="modal-footer">
                <!--BOTON ATRAS -->
                <button type="button" class="btn btn-default"
                        ng-disabled="(datosGeneralesForm.$invalid && aplicarFactor.pasoActual === 2) || (datosFiscalesForm.$invalid && aplicarFactor.pasoActual === 3)"
                        ng-click="aplicarFactor.atras()"
                        ng-show="aplicarFactor.pasoActual === 2 || aplicarFactor.pasoActual === 3">
                    Atrás
                </button>
                <!--BOTON SIGUIENTE -->
                <button type="button" class="btn btn-primary"
                        ng-disabled="(datosGeneralesForm.$invalid && aplicarFactor.pasoActual === 1) || (datosFiscalesForm.$invalid && aplicarFactor.pasoActual === 2)"
                        ng-click="aplicarFactor.siguiente()"
                        ng-show="aplicarFactor.pasoActual < 3">
                    Siguiente
                </button>
                <!--BOTON FINALIZAR -->
                <button type="button" class="btn btn-primary"
                        ng-disabled="aplicarFactorFrm.$invalid"
                        ng-click="aplicarFactor.agregar()"
                        ng-show="aplicarFactor.pasoActual === 3">
                    Finalizar
                </button>
                <!--BOTON CERRAR -->
                <button type="button" class="btn btn-primary"
                        ng-click="aplicarFactor.cerrar()"
                        ng-show="aplicarFactor.pasoActual === 4">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</form>


