<div class="wizard">
    <h2>
        <h3>{{agregarProveedor.titulo}}</h3>
    </h2>
    <p>
        This example show how to use ui-router to create wizard like form.
        <br>
        <strong>Data from ng-model.</strong><br>
    </p>

    <div class="steps clearfix">
        <ul>
            <li ui-sref-active='current' ng-repeat="tab in agregarProveedor.tabs">
                <a ui-sref="{{tab.estado}}" class="btn btn-default disabled" role="button">
                    <span>{{$index +1}}</span> {{tab.titulo}}
                </a>
            </li>
        </ul>
    </div>
    <div class="wizard">
        <div class="content">
            <div id="form-views" class="animated fadeInRight" ui-view></div>
        </div>
    </div>
</div>