<form role="form" id="agregarProveedorFrmId" name="agregarProveedorFrm" novalidate>
    <div class="row wrapper border-bottom white-bg page-heading">
        <!--TITULO MODAL-->
        <div class="col-lg-10">
            <h2>{{agregarProveedor.titulo}}
                <small></small>
            </h2>
        </div>
        <!-- TACHE (CERRAR MODAL)-->
        <div class="col-lg-2">
            <div class="ibox-tools">
                <br>
                <a ng-hide="agregarProveedor.pasoActual != 1 && agregarProveedor.pasoActual != 4"
                   ng-click="agregarProveedor.cerrar()">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <!-- BODY MODAL -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content">
                <p>
                    <!-- Aqui debe de ir texto (en caso de requerirlo) -->
                    <br>
                    <br>
                </p>
                <!--BOTONES QUE INDICAN EN QUE PASO SE ENCUENTRA EL USUARIO-->
                <div class="row" ng-show="agregarProveedor.pasoActual != 4">
                    <div class="col-md-4">
                        <button type="button"
                                class="btn btn-block"
                                ng-class="{'btn-default' : agregarProveedor.pasoActual != 1, 'btn-primary' : agregarProveedor.pasoActual === 1 }"
                                ng-disabled="agregarProveedor.pasoActual != 1">
                            Paso 1
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                                class="btn btn-block"
                                ng-class="{'btn-default' : agregarProveedor.pasoActual != 2, 'btn-primary' : agregarProveedor.pasoActual === 2 }"
                                ng-disabled="agregarProveedor.pasoActual != 2">
                            Paso 2
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                                class="btn btn-block"
                                ng-class="{'btn-default' : agregarProveedor.pasoActual != 3, 'btn-primary' : agregarProveedor.pasoActual === 3 }"
                                ng-disabled="agregarProveedor.pasoActual != 3">
                            Paso 3
                        </button>
                    </div>
                </div>

                <br>

                <!--INFORMACIÓN GENERAL-->
                <div style="padding: 5px;" class="row jumbotron animated fadeInRight" ng-show="agregarProveedor.pasoActual === 1">
                    <h3>Datos Generales</h3>
                    <ng-form name="datosGeneralesForm">
                        <!--NOMBRE DE LA EMPRESA-->
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error' : datosGeneralesForm.nombre.$invalid && !datosGeneralesForm.nombre.$pristine}">
                                <div ng-messages="datosGeneralesForm.nombre.$dirty && datosGeneralesForm.nombre.$error" role="alert">
                                    <label>Nombre *
                                        <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                                        <span class="animated fadeIn" style="color:red;" ng-message="minlength, maxlength"> min 1, max 50 letras</span>
                                        <span class="animated fadeIn" style="color:red;" ng-message="pattern"> caracter inválido</span>
                                    </label>
                                    <input id="nombreId" class="form-control" name="nombre" type="text"
                                           placeholder="EJ: METALFLU DEL SUR" aria-describedby="sizing-addon1"
                                           minlength="2" maxlength="51" ng-minlength="2" ng-maxlength="50"
                                           ng-pattern="/^[a-zA-ZñÑ.\s]+$/" required
                                           ng-model="agregarProveedor.datos.nombre">
                                </div>
                            </div>
                        </div>
                        <!-- EMAIL DE CONTACTO -->
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{ 'has-error' : datosGeneralesForm.email.$invalid && !datosGeneralesForm.email.$pristine}">
                                <div ng-messages="datosGeneralesForm.email.$dirty && datosGeneralesForm.email.$error" role="alert">
                                    <label> Email *
                                        <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                                        <span class="animated fadeIn" style="color:red;" ng-message="email">incorrecto</span>
                                        <span class="animated fadeIn" style="color:red;" ng-message="mixlength, maxlength"> min 2, max 50 letras</span>
                                    </label>
                                    <input id="emailId" class="form-control" name="email" type="email"
                                           aria-describedby="sizing-addon1" minlength="5"
                                           maxlength="51" ng-minlength="5" ng-maxlength="50" required
                                           ng-model="agregarProveedor.datos.email">
                                </div>
                            </div>
                        </div>
                        <!-- TELÉFONOS DE CONTACTO-->
                        <span class="animated fadeIn" ng-repeat="telefono in agregarProveedor.datos.telefonos track by $index">
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : datosGeneralesForm['telefono'+$index].$invalid && !datosGeneralesForm ['telefono'+$index].$pristine}">
                                    <div ng-messages="datosGeneralesForm['telefono'+$index].$dirty && datosGeneralesForm['telefono'+$index].$error" role="alert">
                                        <label> Teléfono <span class="font-bold text-navy">{{$index + 1}}</span> *
                                            <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                                            <span class="animated fadeIn" style="color:red;" ng-message="pattern">10 dígitos</span>
                                            <span class="animated fadeIn" style="color:red;" ng-message="pattern">inválido</span>
                                        </label>
                                        <input id="telefonosId" class="form-control" type="text" name="telefono{{$index}}"
                                               aria-describedby="sizing-addon1" maxlength="10"
                                               ng-pattern="/^[0-9]{10}$/" required
                                               ng-model="telefono['telefono']">
                                    </div>
                                </div>
                            </div>
                            <!-- TELÉFONO EXTENSIÓN -->
                            <div class="col-sm-2">
                                <div class="form-group" ng-class="{ 'has-error' : datosGeneralesForm['extension'+$index].$invalid && !datosGeneralesForm['extension'+$index].$pristine}">
                                    <div ng-messages="datosGeneralesForm['extension'+$index].$dirty && datosGeneralesForm['extension'+$index].$error" role="alert">
                                        <label>&nbsp;
                                            <span class="animated fadeIn" style="color:red;" ng-message="pattern">número</span>
                                        </label>
                                        <input id="extensionId" class="form-control" type="text" name="extension{{$index}}"
                                               placeholder="Ext"
                                               aria-describedby="sizing-addon1" maxlength="5"
                                               ng-pattern="/^([0-9])*$/"
                                               ng-model="telefono['extension']">
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!--BOTON AÑADIR TELÉFONO -->
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="agregarProveedor.agregarTelefono()">
                                Añadir teléfono
                            </button>
                        </div>
                    </ng-form>
                </div>
                <!--DATOS FISCALES-->
                <div style="padding: 5px;" class="row jumbotron animated fadeInRight" ng-show="agregarProveedor.pasoActual === 2">
                    <h3>Datos Fiscales</h3>
                    <ng-form name="datosFiscalesForm">
                        <forma-datos-fiscales datos="agregarProveedor.datosFiscales"></forma-datos-fiscales>
                    </ng-form>
                </div>
                <!--DIRECCIÓN FISCAL-->
                <div style="padding: 5px;" class="row jumbotron animated fadeInRight" ng-show="agregarProveedor.pasoActual === 3">
                    <h3>Dirección Fiscal</h3>
                    <forma-direccion direccion="agregarProveedor.datosFiscales"></forma-direccion>
                </div>
                <!--ALERTAS-->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- ALERTA -->
                        <alertas tipo="agregarProveedor.tipoMsj" mensaje="agregarProveedor.msj"></alertas>
                    </div>
                </div>
            </div>
        </div>
        <!--FOOTER MODAL-->
        <div class="inmodal">
            <!-- BOTON / SIGUIENTE / GUARDAR / GUARDAR-->
            <div class="modal-footer">
                <!-- BOTON SIGUIENTE (Del paso 1 al paso 2) -->
                <button type="button"
                        class="btn btn-primary"
                        ng-disabled="datosGeneralesForm.$invalid"
                        ng-hide="agregarProveedor.pasoActual != 1"
                        ng-click="agregarProveedor.guardarDatosGenerales()">
                    Siguiente
                </button>
                <!-- BOTON SIGUIENTE (Del paso 2 al paso 3) -->
                <button type="button"
                        class="btn btn-primary"
                        ng-disabled="datosFiscalesForm.$invalid"
                        ng-hide="agregarProveedor.pasoActual != 2"
                        ng-click="agregarProveedor.siguiente()">
                    Siguiente
                </button>
                <!--BOTON FINALIZAR (Guarda la dirección fiscal y envia al paso 4 (exito) ) -->
                <button type="button" class="btn btn-primary"
                        ng-disabled="direccionForm.$invalid"
                        ng-hide="agregarProveedor.pasoActual != 3"
                        ng-click="agregarProveedor.guardarDatosFiscales()">
                    Finalizar
                </button>
                <!--BOTON CERRAR -->
                <button type="button" class="btn btn-primary"
                        ng-click="agregarProveedor.cerrar()"
                        ng-hide="agregarProveedor.pasoActual != 4">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</form>


