<form role="form" class="p-lg" id="agregarTiendaFrmId" name="agregarTiendaFrm" novalidate>
    <!--DATOS FISCALES-->
    <div class="row animated fadeInRight">
        <div class="col-sm-4 b-r">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Datos Fiscales</h3>
                    <div class="contact-box">
                        <a href="">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <i class="fa fa-industry fa-5x" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>{{editarProveedorFiscales.datosFiscales.razonSocial}} {{editarProveedorFiscales.datosFiscales.tipoSociedad}}</strong></h3>
                                <h3><strong>{{editarProveedorFiscales.datosFiscales.nombre}} {{editarProveedorFiscales.datosFiscales.segundoNombre}} {{editarProveedorFiscales.datosFiscales.apellidoPaterno}} {{editarProveedorFiscales.datosFiscales.apellidoMaterno}}</strong></h3>
                                <p class="m-t-xs font-bold">RFC: <strong>{{editarProveedorFiscales.datosFiscales._id}}</strong></p>
                                <address>
                                    <strong><i class="fa fa-envelope-o"></i> {{editarProveedorFiscales.datosFiscales.email}}</strong><br>
                                    {{editarProveedorFiscales.datosFiscales.calle}}, {{editarProveedorFiscales.datosFiscales.numExt}}, {{editarProveedorFiscales.datosFiscales.numInt}}, {{editarProveedorFiscales.datosFiscales.colonia}},<br>
                                    {{editarProveedorFiscales.datosFiscales.delMpio}}, {{editarProveedorFiscales.datosFiscales.estado}}, {{editarProveedorFiscales.datosFiscales.codigoPostal}}<br>
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <!--BOTON EDITAR -->
                    <button type="button"
                            class="btn btn-primary btn-xs pull-right"
                            ng-hide="editarProveedorFiscales.ocultarBoton"
                            ng-click="editarProveedorFiscales.editar()">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                    </button>
                </div>
            </div>
        </div>



        <!-- MOSTRAR CUANDO LA BASE NO CONTENGA DATOS FISCALES -->
        <div class="col-sm-8 animated fadeInRight"
             ng-if="editarProveedorFiscales.muestrarDatosFiscales">

            <div class="row">
                <div class="col-sm-12">
                    <h3>Datos Fiscales</h3>
                </div>
            </div>
            <div class="row">
                <forma-datos-fiscales datos="editarProveedorFiscales.datosFiscalesOriginal"></forma-datos-fiscales>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Dirección Fiscal</h3>
                </div>
            </div>
            <div class="row animated fadeInRight"
                 ng-hide="editarProveedorFiscales.datosFiscalesOriginal.tipoPersona === undefined">
                <forma-direccion direccion="editarProveedorFiscales.datosFiscalesOriginal"></forma-direccion>
            </div>
        </div>


        <!-- MOSTRAR CUANDO LA BASE CONTENGA DATOS FISCALES -->
        <div class="col-sm-8 animated fadeInRight"
             ng-if="editarProveedorFiscales.muestraSoloDireccion">


            <div class="row">
                <div class="col-sm-12">
                    <h3>Dirección Fiscal</h3>
                </div>
            </div>
            <div class="row">

                <forma-direccion direccion="editarProveedorFiscales.datosFiscalesOriginal"></forma-direccion>
            </div>
        </div>

    </div>
    <hr>
    <!--DIRECCIÓN FISCAL-->
    <div class="row animated fadeInRight">
    </div>
    <!--ALERTA Y BOTÓN-->
    <div class="row">
        <div class="col-md-8">
            <alertas tipo="editarProveedorFiscales.tipoMsj" mensaje="editarProveedorFiscales.msj"></alertas>
        </div>
        <div class="col-md-3" ng-show="editarProveedorFiscales.muestrarDatosFiscales || editarProveedorFiscales.muestraSoloDireccion">
            <!--BOTON GUARDAR DATOS GENERALES-->
            <button type="button"
                    class="btn btn-primary pull-right"
                    ng-disabled="agregarTiendaFrm.$invalid"
                    ng-click="editarProveedorFiscales.actualizar(agregarTiendaFrm)">
                Actualizar
            </button>
        </div>
    </div>
</form>