<form role="form" id="eliminarProveedorFrmId" name="eliminarProveedorFrm" novalidate>
    <div class="row wrapper border-bottom white-bg page-heading">
        <!--TITULO MODAL-->
        <div class="col-sm-10">
            <h2>Eliminar Tienda</h2>
        </div>
        <!-- TACHE (CERRAR MODAL)-->
        <div class="col-sm-2">
            <div class="ibox-tools">
                <br>
                <a ng-click="eliminarProveedor.cerrar()"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <!-- BODY MODAL -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>{{eliminarProveedor.resolve.proveedor.nombre}}</h3>
                    </div>
                    <div class="col-sm-12">
                        <h3><strong class="label label-warning"><i class="fa fa-exclamation-triangle"></i></strong>  IMPORTANTE</h3>
                        <h4>La proveedor dejará de operar en el sistema y no se guardará más información.</h4>
                        <div class="form-group" ng-class="{ 'has-error' : eliminarProveedorFrm.cuentaContable.$invalid && !eliminarProveedorFrm.cuentaContable.$pristine}">
                            <div ng-messages="eliminarProveedorFrm.cuentaContable.$dirty && eliminarProveedorFrm.cuentaContable.$error" role="alert">
                                <label>Acción
                                    <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                                    <span class="animated fadeIn" style="color:red;" ng-message="pattern"> caracter inválido</span>
                                    <span class="animated fadeIn" style="color:red;" ng-message="existecta">registrado</span>
                                </label>
                                <radio-desactivar dato="eliminarProveedor.datos.activo"></radio-desactivar>
                            </div>
                        </div>
                    </div>
                </div>
                <!--ALERTA-->
                <div class="row">
                    <div class="col-sm-12">
                        <alertas tipo="eliminarProveedor.tipoMsj" mensaje="eliminarProveedor.msj"></alertas>
                    </div>
                </div>

            </div>
        </div>
        <!--FOOTER MODAL-->
        <div class="inmodal">
            <!-- BOTON / SIGUIENTE / GUARDAR / GUARDAR-->
            <div class="modal-footer">
                <!--BOTON CANCELAR -->
                <button type="button"
                        class="btn btn-default"
                        ng-click="eliminarProveedor.cerrar()">
                    Cerrar
                </button>
                <!--BOTON CREAR -->
                <button type="button"
                        class="btn btn-primary"
                        ng-hide="eliminarProveedor.tipoMsj === 'success'"
                        ng-disabled="eliminarProveedorFrm.$invalid"
                        ng-click="eliminarProveedor.eliminar()">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</form>