<dir-pagination-controls on-page-change="listaProductosMarca.pageChanged(newPageNumber)"></dir-pagination-controls>
<div class="row">
    <div class="col-xs-4">
        <button class="btn btn-primary btn-sm" ng-click="listaProductosMarca.crearInventario()"
                ng-if="listaProductosMarca.productosCount === 0">Crear Inventario</button>
    </div>
    <div class="col-xs-4">

    </div>
</div>
<div class="clients-list">
    <div class="full-height-scroll" full-scroll>
        <div class="table-responsive">
            <table class="table table-striped table-hover" data-page-size="15">
                <tbody>
                <tr ng-repeat="producto in listaProductosMarcas.productos">
                    <td>{{producto.productoId}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs">View</button>
                            <button class="btn-white btn btn-xs">Edit</button>
                            <button class="btn-white btn btn-xs">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

