<!--DATOS FISCALES-->
<div class="row animated fadeInRight">
    <div class="col-sm-4 b-r">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-box">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <address>
                            {{tiendaDireccion.direccionActual.calle}}
                            {{tiendaDireccion.direccionActual.numExt}}<span ng-show="tiendaDireccion.direccionActual._id">,</span>
                            <span ng-show="tiendaDireccion.direccionActual.numInt">Int. {{tiendaDireccion.direccionActual.numInt}}.</span> <br>
                            {{tiendaDireccion.direccionActual.colonia}}
                            <span ng-show="tiendaDireccion.direccionActual._id">CP.</span> {{tiendaDireccion.direccionActual.codigoPostal}}
                            {{tiendaDireccion.direccionActual.delMpio}}<span ng-show="tiendaDireccion.direccionActual._id">,</span>
                            {{tiendaDireccion.direccionActual.estado}}<br>
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <!--BOTON EDITAR -->
                <button type="button"
                        class="btn btn-primary btn-xs pull-right"
                        ng-show="tiendaDireccion.direccionActual._id && !tiendaDireccion.mostrarCampos"
                        ng-click="tiendaDireccion.editar()">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                </button>
            </div>
        </div>
    </div>
    <!--DIRECCION-->
    <div class="col-sm-8 animated fadeInRight">
        <div class="row">
            <cambios-direccion
                    ng-if="tiendaDireccion.direccionActual._id && tiendaDireccion.mostrarCampos"
                    direccion="tiendaDireccion.direccion">
            </cambios-direccion>
            <alta-direccion
                    ng-if="!tiendaDireccion.direccionActual._id"
                    propietario-id="tiendaDireccion.propietarioId">
            </alta-direccion>
        </div>
    </div>
</div>