<form role="form" id="agregarTiendaFrmId" name="agregarTiendaFrm" novalidate>
    <div class="row wrapper border-bottom white-bg page-heading">
        <!--TITULO MODAL-->
        <div class="col-lg-10">
            <h2>{{agregarTienda.titulo}}
                <small></small>
            </h2>
        </div>
        <!-- TACHE (CERRAR MODAL)-->
        <div class="col-lg-2">
            <div class="ibox-tools">
                <br>
                <a ng-hide="agregarTienda.pasoActual != 1 && agregarTienda.pasoActual != 4" ng-click="agregarTienda.cerrar()"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <!-- BODY MODAL -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content">
                <p>
                    Dar de alta una tienda implica numerosos procesos para el sistema; es recomendable hacer este procedimiento en horas no laborales.
                    <br>
                    <br>
                </p>
                <!--BOTONES QUE INDICAN EN QUE PASO SE ENCUENTRA EL USUARIO-->
                <div class="row">
                    <div class="col-md-4">
                        <button type="button"
                                class="btn btn-block"
                                ng-class="{'btn-default' : agregarTienda.pasoActual != 1, 'btn-primary' : agregarTienda.pasoActual === 1 }"
                                ng-disabled="agregarTienda.pasoActual != 1">
                            Paso 1
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                                class="btn btn-block"
                                ng-class="{'btn-default' : agregarTienda.pasoActual != 2, 'btn-primary' : agregarTienda.pasoActual === 2 }"
                                ng-disabled="agregarTienda.pasoActual != 2">
                            Paso 2
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                                class="btn btn-block"
                                ng-class="{'btn-default' : agregarTienda.pasoActual != 3, 'btn-primary' : agregarTienda.pasoActual === 3 }"
                                ng-disabled="agregarTienda.pasoActual != 3">
                            Paso 3
                        </button>
                    </div>
                </div>

                <br>

                <!--DATOS FISCALES-->
                <div style="padding: 5px;" class="row jumbotron animated fadeInRight" ng-hide="agregarTienda.pasoActual != 2">
                    <ng-form name="datosFiscalesForm">

                    </ng-form>
                </div>
                <!--DIRECCIÓN FISCAL-->
                <div style="padding: 5px;" class="row jumbotron animated fadeInRight" ng-hide="agregarTienda.pasoActual != 3">
                    <h3>Dirección Fiscal</h3>

                </div>
                <!--ALERTAS-->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- ALERTA -->
                        <alertas tipo="agregarTienda.tipoMsj" mensaje="agregarTienda.msj"></alertas>
                    </div>
                </div>
            </div>
        </div>
        <!--FOOTER MODAL-->
        <div class="inmodal">
            <!-- BOTON / SIGUIENTE / GUARDAR / GUARDAR-->
            <div class="modal-footer">
                <!-- BOTON SIGUIENTE (Del paso 2 al paso 3) -->
                <button type="button"
                        class="btn btn-primary"
                        ng-disabled="datosFiscalesForm.$invalid"
                        ng-hide="agregarTienda.pasoActual != 2"
                        ng-click="agregarTienda.siguiente()">
                    Siguiente
                </button>

                <!--BOTON CERRAR -->
                <button type="button" class="btn btn-primary"
                        ng-click="agregarTienda.cerrar()"
                        ng-hide="agregarTienda.pasoActual != 4">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</form>