<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>{{agregarTienda.titulo}}</h3>
                    <p>
                        Dar de alta una tienda implica numerosos procesos para el sistema; es recomendable hacer este procedimiento en horas no laborales.
                    </p>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content wizard">
                    <div ui-view> </div>
                </div>
            </div>
        </div>

    </div>
</div>