<form role="form" class="p-lg" id="editarTiendaFiscalesFrmId" name="editarTiendaFiscalesFrm" novalidate>
    <!--DATOS FISCALES-->
    <div class="row animated fadeInRight">
        <div class="col-sm-4 b-r">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Datos Fiscales</h3>
                    <div class="contact-box">
                        <a href="">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <i class="fa fa-industry fa-5x" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>{{editarTiendaFiscales.datosFiscales.razonSocial}} {{editarTiendaFiscales.datosFiscales.tipoSociedad}}</strong></h3>
                                <h3><strong>{{editarTiendaFiscales.datosFiscales.nombre}} {{editarTiendaFiscales.datosFiscales.segundoNombre}} {{editarTiendaFiscales.datosFiscales.apellidoPaterno}} {{editarTiendaFiscales.datosFiscales.apellidoMaterno}}</strong></h3>
                                <p class="m-t-xs font-bold">RFC: <strong>{{editarTiendaFiscales.datosFiscales._id}}</strong></p>
                                <address>
                                    <strong><i class="fa fa-envelope-o"></i> {{editarTiendaFiscales.datosFiscales.email}}</strong><br>
                                    {{editarTiendaFiscales.datosFiscales.calle}}, {{editarTiendaFiscales.datosFiscales.numExt}}, {{editarTiendaFiscales.datosFiscales.numInt}}, {{editarTiendaFiscales.datosFiscales.colonia}},<br>
                                    {{editarTiendaFiscales.datosFiscales.delMpio}}, {{editarTiendaFiscales.datosFiscales.estado}}, {{editarTiendaFiscales.datosFiscales.codigoPostal}}<br>
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <!--BOTON EDITAR -->
                    <button type="button"
                            class="btn btn-primary btn-xs pull-right"
                            ng-hide="editarTiendaFiscales.ocultarBoton"
                            ng-click="editarTiendaFiscales.editar()">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                    </button>
                </div>
            </div>
        </div>

        <!-- MOSTRAR CUANDO LA BASE NO CONTENGA DATOS FISCALES -->
        <div class="col-sm-8 animated fadeInRight"
             ng-if="editarTiendaFiscales.muestrarDatosFiscales">

            <div class="row">
                <div class="col-sm-12">
                    <h3>Datos Fiscales</h3>
                </div>
            </div>
            <div class="row">
                <forma-datos-fiscales datos="editarTiendaFiscales.datosFiscalesOriginal"></forma-datos-fiscales>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Dirección Fiscal</h3>
                </div>
            </div>
            <div class="row animated fadeInRight"
                 ng-hide="editarTiendaFiscales.datosFiscalesOriginal.tipoPersona === undefined">
                <forma-direccion direccion="editarTiendaFiscales.datosFiscalesOriginal"></forma-direccion>
            </div>
        </div>

        <!-- MOSTRAR CUANDO LA BASE CONTENGA DATOS FISCALES -->
        <div class="col-sm-8 animated fadeInRight"
             ng-if="editarTiendaFiscales.muestraSoloDireccion">


            <div class="row">
                <div class="col-sm-12">
                    <h3>Dirección Fiscal</h3>
                </div>
            </div>
            <div class="row">
                <forma-direccion direccion="editarTiendaFiscales.datosFiscalesOriginal"></forma-direccion>
            </div>
        </div>

    </div>
    <hr>
    <!--DIRECCIÓN FISCAL-->
    <div class="row animated fadeInRight">
    </div>
    <!--ALERTA Y BOTÓN-->
    <div class="row">
        <div class="col-md-8">
            <alertas tipo="editarTiendaFiscales.tipoMsj" mensaje="editarTiendaFiscales.msj"></alertas>
        </div>
        <div class="col-md-3" ng-show="editarTiendaFiscales.muestrarDatosFiscales || editarTiendaFiscales.muestraSoloDireccion">
            <!--BOTON GUARDAR DATOS GENERALES-->
            <button type="button"
                    class="btn btn-primary pull-right"
                    ng-disabled="editarTiendaFiscalesFrm.$invalid"
                    ng-click="editarTiendaFiscales.actualizar(editarTiendaFiscalesFrm)">
                Actualizar
            </button>
        </div>
    </div>
</form>