<h2>{{listaProveedores.titulo}}</h2>
<hr>
<div class="row">
    <div class="col-sm-4">
        <a ui-sref="app.proveedores.agregar.datos" class="btn btn-primary btn-sm">Agregar Proveedor</a>
    </div>
    <div class="col-sm-4">
        <buscar-proveedor proveedor="listaProveedores.proveedorSelec"></buscar-proveedor>
    </div>
    <div class="col-sm-4">

    </div>
</div>
<div class="row">
    <div class="col-sm-4 ajustar"
         dir-paginate="proveedor in listaProveedores.proveedores | itemsPerPage: listaProveedores.perPage"
         total-items="listaProveedores.proveedoresCount">
        <div class="contact-box">
            <a ui-sref="app.proveedores.editar.generales({proveedorId: proveedor._id})">
                <div class="row">
                    <div class="col-sm-1">
                        <i class="fa fa-product-hunt" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-11">
                        <h3><strong>{{proveedor.nombre}}</strong></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-phone" aria-hidden="true" ng-hide="!proveedor.telefonos"></i>
                        <span ng-hide="proveedor.telefonos">
                            <strong class="label label-danger"><i class="fa fa-exclamation-triangle"></i>&nbsp; COMPLETAR TELÉFONO</strong>
                        </span>
                        <span ng-repeat="telefono in proveedor.telefonos"
                              ng-hide="!proveedor.telefonos">
                            {{telefono.telefono}},
                            <span ng-show="telefono.extension">
                                Ext. {{telefono.extension}},
                            </span>
                        </span>
                        <mostrar-direccion propietario-id="proveedor._id"></mostrar-direccion>
                        <hr>
                        <mostrar-datos-fiscales propietario-id="proveedor._id"></mostrar-datos-fiscales>

                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </a>
        </div>
    </div>
</div>
<dir-pagination-controls on-page-change="listaProveedores.pageChanged(newPageNumber)"></dir-pagination-controls>