<ng-form name="formaDatosFiscalesForm">
    <!-- BOTONES = PERSONA FISICA / PERSONA MORAL -->
    <div class="col-sm-4">
        <label class="control-label">Persona *</label>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button id="fisicaId"
                        class="btn btn-default"
                        name="fisica"
                        type="button"
                        uib-btn-radio="'PF'"
                        ng-model="formaDatosFiscales.datos.tipoPersona">Física
                </button>
            </div>
            <div class="btn-group" role="group">
                <button id="moralId"
                        class="btn btn-default"
                        name="moral"
                        type="button"
                        uib-btn-radio="'PM'"
                        ng-model="formaDatosFiscales.datos.tipoPersona">Moral
                </button>
            </div>
        </div>
    </div>
    <div class="animated fadeIn">
        <!-- PERSONA FISICA -->
        <div class="animated fadeIn" ng-if="formaDatosFiscales.datos.tipoPersona === 'PF'">
            <!--RFC PERSONA FÍSCA-->
            <div class="col-sm-4">
                <div class="form-group"
                     ng-class="{ 'has-error' : formaDatosFiscalesForm.rfcPersonaFisica.$invalid && !formaDatosFiscalesForm.rfcPersonaFisica.$pristine}">
                    <div ng-messages="formaDatosFiscalesForm.rfcPersonaFisica.$dirty && formaDatosFiscalesForm.rfcPersonaFisica.$error"
                         role="alert">
                        <label>RFC *
                            <span style="color:red;" class="animated fadeIn" ng-message="required">requerido</span>
                            <span style="color:red;" class="animated fadeIn" ng-message="pattern">inválido</span>
                            <span style="color:red;" class="animated fadeIn" ng-message="existerfc">registrado</span>
                        </label>
                        <!--PERSONA FISICA-->
                        <input class="form-control"
                               name="rfcPersonaFisica"
                               type="text"
                               aria-describedby="sizing-addon1"
                               ng-pattern="/^([A-ZÑ&]{4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/"
                               required
                               buscar-rfc
                               ng-model="formaDatosFiscales.datos._id">
                    </div>
                </div>
            </div>
            <!-- EMAIL FISCAL -->
            <div class="col-sm-4">
                <div class="form-group"
                     ng-class="{ 'has-error' : formaDatosFiscalesForm.emailFiscal.$invalid && !formaDatosFiscalesForm.emailFiscal.$pristine}">
                    <div ng-messages="formaDatosFiscalesForm.emailFiscal.$dirty && formaDatosFiscalesForm.emailFiscal.$error"
                         role="alert">
                        <label>Email Fiscal *
                            <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                            <span class="animated fadeIn" style="color:red;" ng-message="email">correo incorrecto</span>
                            <span class="animated fadeIn" style="color:red;" ng-message="minlength, maxlength"> min 5, max 50 letras</span>
                        </label>
                        <input id="emailFiscalId" class="form-control" name="emailFiscal" type="email"
                               aria-describedby="sizing-addon1" minlength="5"
                               maxlength="51" ng-minlength="5" ng-maxlength="50" required
                               ng-model="formaDatosFiscales.datos.email">
                    </div>
                </div>
            </div>
            <!--NOMBRES-->
            <div class="col-sm-6">
                <div class="form-group"
                     ng-class="{ 'has-error' : formaDatosFiscalesForm.nombres.$invalid && !formaDatosFiscalesForm.nombres.$pristine}">
                    <div ng-messages="formaDatosFiscalesForm.nombres.$dirty && formaDatosFiscalesForm.nombres.$error"
                         role="alert">
                        <label>Nombre(s) *
                            <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                            <span class="animated fadeIn" style="color:red;" ng-message="minlength, maxlength"> min 1, max 30 letras</span>
                            <span class="animated fadeIn" style="color:red;" ng-message="pattern"> caracter inválido</span>
                        </label>
                        <input id="nombresId" class="form-control" name="nombres" type="text" aria-describedby="sizing-addon1"
                               placeholder="Nombre(s)" required minlength="2" maxlength="31" ng-minlength="2"
                               ng-maxlength="30" ng-pattern="/^[a-zA-ZñÑ\s]+$/"
                               ng-model="formaDatosFiscales.datos.nombres">
                    </div>
                </div>
            </div>
            <!--APELLIDOS-->
            <div class="col-sm-6">
                <div class="form-group"
                     ng-class="{ 'has-error' : formaDatosFiscalesForm.apellidos.$invalid && !formaDatosFiscalesForm.apellidos.$pristine}">
                    <div ng-messages="formaDatosFiscalesForm.apellidos.$dirty && formaDatosFiscalesForm.apellidos.$error"
                         role="alert">
                        <label>Apellido(s) *
                            <span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>
                            <span class="animated fadeIn" style="color:red;" ng-message="minlength, maxlength"> min 2, max 30 letras</span>
                            <span class="animated fadeIn" style="color:red;" ng-message="pattern"> caracter inválido</span>
                        </label>
                        <input id="apellidosId" class="form-control" name="apellidos" type="text" placeholder="Apellido(s)"
                               aria-describedby="sizing-addon1" required minlength="2" maxlength="31"
                               ng-minlength="2" ng-maxlength="30" ng-pattern="/^[a-zA-ZñÑ\s]+$/"
                               ng-model="formaDatosFiscales.datos.apellidos">
                    </div>
                </div>
            </div>
        </div>
        <!-- PERSONA MORAL -->
        <div class="animated fadeIn" ng-if="formaDatosFiscales.datos.tipoPersona === 'PM'">
            <!--RFC PERSONA MORAL-->
            <div class="col-sm-4">
                <div class="form-group"
                     ng-class="{ 'has-error' : formaDatosFiscalesForm.rfcPersonaMoral.$invalid && !formaDatosFiscalesForm.rfcPersonaMoral.$pristine}">
                    <div ng-messages="formaDatosFiscalesForm.rfcPersonaMoral.$dirty && formaDatosFiscalesForm.rfcPersonaMoral.$error"
                         role="alert">
                        <label>RFC *
                            <span style="color:red;" class="animated fadeIn" ng-message="required">requerido</span>
                            <span style="color:red;" class="animated fadeIn" ng-message="pattern">inválido</span>
                            <span style="color:red;" class="animated fadeIn" ng-message="existerfc">registrado</span>
                        </label>
                        <!--PERSONA MORAL -->
                        <input class="form-control"
                               name="rfcPersonaMoral"
                               type="text"
                               aria-describedby="sizing-addon1"
                               ng-pattern="/^([A-ZÑ&]{3}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/"
                               required
                               buscar-rfc
                               ng-model="formaDatosFiscales.datos._id">
                    </div>
                </div>
            </div>
            <!-- EMAIL FISCAL -->
            <div class="col-sm-4">
                <div class="form-group"
                     ng-class="{ 'has-error' : formaDatosFiscalesForm.emailFiscal.$invalid && !formaDatosFiscalesForm.emailFiscal.$pristine}">
                    <div ng-messages="formaDatosFiscalesForm.emailFiscal.$dirty && formaDatosFiscalesForm.emailFiscal.$error"
                         role="alert">
                        <label>Email Fiscal *
                            <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                            <span class="animated fadeIn" style="color:red;" ng-message="email">correo incorrecto</span>
                            <span class="animated fadeIn" style="color:red;" ng-message="minlength, maxlength"> min 5, max 50 letras</span>
                        </label>
                        <input id="emailFiscalId" class="form-control" name="emailFiscal" type="email"
                               aria-describedby="sizing-addon1" minlength="5"
                               maxlength="51" ng-minlength="5" ng-maxlength="50" required
                               ng-model="formaDatosFiscales.datos.email">
                    </div>
                </div>
            </div>
            <!--RAZÓN SOCIAL-->
            <div class="col-sm-8">
                <div class="form-group"
                     ng-class="{ 'has-error' : formaDatosFiscalesForm.razonSocial.$invalid && !formaDatosFiscalesForm.razonSocial.$pristine}">
                    <div ng-messages="formaDatosFiscalesForm.razonSocial.$dirty && formaDatosFiscalesForm.razonSocial.$error"
                         role="alert">
                        <label>Razón Social *
                            <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                            <span class="animated fadeIn" style="color:red;" ng-message="minlength, maxlength">min 2, max 50 letras</span>
                            <span class="animated fadeIn" style="color:red;" ng-message="pattern">caracter no válido</span>
                        </label>
                        <input id="razonSocialId" class="form-control"
                               name="razonSocial" type="text" aria-describedby="sizing-addon1"
                               minlength="2" maxlength="81" ng-minlength="2" ng-maxlength="81"
                               ng-pattern="/^[a-zA-ZñÑ\s]+$/" required
                               ng-model="formaDatosFiscales.datos.razonSocial">
                    </div>
                </div>
            </div>
            <!--TIPO DE SOCIEDAD-->
            <div class="col-sm-4">
                <div class="form-group"
                     ng-class="{ 'has-error' : formaDatosFiscalesForm.elegirTipoSociedad.$invalid && !formaDatosFiscalesForm.elegirTipoSociedad.$pristine}">
                    <div ng-messages="formaDatosFiscalesForm.elegirTipoSociedad.$dirty && formaDatosFiscalesForm.elegirTipoSociedad.$error"
                         role="alert">
                        <label>&nbsp;
                            <span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>
                        </label>
                        <elegir-tipo-sociedad tiposociedad="formaDatosFiscales.datos.tipoSociedad"></elegir-tipo-sociedad>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>