<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button id="radioDesactivarId"
                class="btn btn-default"
                name="radioDesactivar"
                type="button"
                required
                uib-btn-radio="false"
                ng-model="radioDesactivar.dato">Desactivar
        </button>
    </div>
    <!--
    <div class="btn-group" role="group">
        <button id="radioDesactivarId"
                class="btn btn-default"
                name="radioDesactivar"
                type="button"
                required
                uib-btn-radio="true"
                ng-model="radioDesactivar.dato">Activar
        </button>
    </div>
    -->
</div>