<form id="detallesProveedorFrmId" name="detallesProveedorFrm" role="form">
    <div class="row wrapper border-bottom white-bg page-heading">
        <!--TITULO MODAL-->
        <div class="col-sm-10">
            <h2>{{detallesProveedor.resolve.proveedor.nombre}}</h2>
        </div>
        <!-- TACHE (CERRAR MODAL)-->
        <div class="col-sm-2">
            <div class="ibox-tools">
                <br>
                <a ng-click="detallesProveedor.cerrar()"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <!-- BODY MODAL -->
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content">
                <div class="row">
                    <!--DATOS GENERALES-->
                    <div class="col-sm-12">
                        <div class="contact-box">
                            <a ui-sref="profile">
                                <div class="col-sm-4">
                                    <div class="text-center">
                                        <img alt="image" class="img-circle m-t-xs img-responsive" src="images/logo-ccp-500x500.png">
                                        <div class="m-t-xs font-bold"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3><strong>DATOS GENERALES</strong></h3>
                                    <address>
                                        Cta. Contable <strong>&nbsp; {{detallesProveedor.resolve.proveedor.cuentaContable}}</strong><br>
                                        <p>
                                            Días de crédito: {{detallesProveedor.resolve.proveedor.dias}} <br>
                                            Activo: <span ng-show="detallesProveedor.resolve.proveedor.activo === true">Si</span>
                                        </p>

                                        <i class="fa fa-envelope-o" aria-hidden="true"></i> {{detallesProveedor.resolve.proveedor.email}}
                                        <br><br>

                                        <div ng-repeat="telefono in detallesProveedor.resolve.proveedor.telefonos">
                                            <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; {{telefono.telefono}}
                                            <span ng-show="telefono.extension">
                                            Ext. {{telefono.extension}}
                                        </span>
                                        </div>
                                    </address>
                                </div>
                                <hr>
                                <!--DATOS FISCALES-->
                                <div class="col-sm-8 col-sm-offset-4">
                                    <h3><strong>DATOS FISCALES</strong></h3>
                                    {{detallesProveedor.datosFiscales.razonSocial}} {{tipoSociedad}}
                                    {{detallesProveedor.datosFiscales.nombre}} {{detallesProveedor.datosFiscales.segundoNombre}}{{detallesProveedor.datosFiscales.apellidoPaterno}} {{detallesProveedor.datosFiscales.apellidoMaterno}}

                                    <address>
                                        <strong>{{detallesProveedor.datosFiscales._id}}</strong><br><br>
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i> {{detallesProveedor.datosFiscales.email}}<br><br>
                                        <i class="fa fa-map-marker"></i>
                                        {{detallesProveedor.datosFiscales.calle}}
                                        {{detallesProveedor.datosFiscales.numExt}}
                                        {{detallesProveedor.datosFiscales.numInt}}
                                        {{detallesProveedor.datosFiscales.colonia}}
                                        {{detallesProveedor.datosFiscales.delMpio}}
                                        {{detallesProveedor.datosFiscales.estado}}
                                        {{detallesProveedor.datosFiscales.codigoPostal}}
                                        <br>
                                    </address>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--FOOTER MODAL-->
        <div class="inmodal">
            <!--BOTON CERRAR -->
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default"
                        ng-click="detallesProveedor.cerrar()">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</form>