<h2>{{listaMarcas.titulo}}</h2>
<hr>
<div class="row">
    <div class="col-xs-4">
        <a ng-click="listaMarcas.modalAgregar()" class="btn btn-primary btn-sm">Agregar Marca</a>
    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">
        <buscar-marca marca="listaMarcas.marcaSelec"></buscar-marca>
    </div>
</div>
<div class="clients-list">
    <div class="full-height-scroll" full-scroll>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                <tr dir-paginate="marca in listaMarcas.marcas | itemsPerPage: listaMarcas.perPage"
                    total-items="listaMarcas.marcasCount">
                    <td><a ui-sref="app.marcas.admon.catalogo.lista({marcaId: marca._id})" class="client-link">{{marca.nombre}}</a></td>
                </tr>
                </tbody>
            </table>
            <dir-pagination-controls on-page-change="listaMarcas.pageChanged(newPageNumber)"></dir-pagination-controls>
        </div>
    </div>
</div>