<form class="animated fadeInRight" role="form" id="editarTiendaDireccionFrmId" name="editarTiendaDireccionFrm" novalidate>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <forma-direccion direccion="editarTiendaDireccion.direccion"></forma-direccion>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <alertas tipo="editarTiendaDireccion.tipoMsj" mensaje="editarTiendaDireccion.msj"></alertas>
                </div>
                <div class="col-md-3">
                    <button type="button"
                            class="btn btn-primary pull-right"
                            ng-hide="editarTiendaDireccion.direccion._id"
                            ng-disabled="editarTiendaDireccionFrm.$invalid"
                            ng-click="editarTiendaDireccion.guardarDireccion()">
                        Guardar
                    </button>
                    <button type="button"
                            class="btn btn-primary pull-right"
                            ng-show="editarTiendaDireccion.direccion._id"
                            ng-disabled="editarTiendaDireccionFrm.$invalid"
                            ng-click="editarTiendaDireccion.actualizarDireccion()">
                        Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>