<h2>{{admonTienda.tienda.nombre}}
</h2>
<hr>
<div class="row">
    <div class="col-lg-12">
        <div class="clients-list">
            <ul class="nav nav-tabs">
                <span class="pull-right small text-muted">
                    <a ui-sref="app.tienda.lista">
                        <i class="fa fa-chevron-left"></i>  Atras
                    </a></span>
                <li ng-class="{active: admonTienda.tab === $index}" ng-repeat="tab in admonTienda.tabs">
                    <a ng-click="admonTienda.tab = $index" ui-sref="{{tab.estado}}">
                        <i class="{{tab.icono}}"></i>{{tab.titulo}}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div ui-view=""></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
