<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-3">
            <a ui-sref="app.tienda.personal({tiendaId: admonTienda.tiendaId})">
                <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                        <h1 class="m-xs">Personal</h1>
                        <h3 class="font-bold no-margins">Nuevo Factor</h3>
                        <small>power</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a ui-sref="app.tienda.inventario({tiendaId: admonTienda.tiendaId})">
                <div class="widget lazur-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-cubes fa-4x" aria-hidden="true"></i>
                        <h1 class="m-xs">Inventarios</h1>
                        <h3 class="font-bold no-margins"> Factor a Productos</h3>
                        <small>small</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a ui-sref="app.tienda.comisiones({tiendaId: admonTienda.tiendaId})">
                <div class="widget red-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-money fa-4x" aria-hidden="true"></i>
                        <h1 class="m-xs">Comisiones</h1>
                        <h3 class="font-bold no-margins">Nuevo Factor</h3>
                        <small>power</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a ui-sref="app.tienda.factores({tiendaId: admonTienda.tiendaId})">
                <div class="widget navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-bomb fa-4x" aria-hidden="true"></i>
                        <h1 class="m-xs">Factores</h1>
                        <h3 class="font-bold no-margins"> Factor a Productos</h3>
                        <small>small</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>