<form class="animated fadeInRight" role="form" id="editarTiendaDatosFiscalesFrmId" name="editarTiendaDatosFiscalesFrm" novalidate>
    <div class="row">
        <div class="col-sm-12">
            <div class="row" ng-if="!editarTiendaDatosFiscales.datosFiscales.rfc">
                <div class="col-sm-12">
                    <h3 class="text-navy">Datos Fiscales</h3>
                </div>
                <forma-datos-fiscales
                        datos="editarTiendaDatosFiscales.datosFiscales">
                </forma-datos-fiscales>
            </div>
            <hr>
            <div class="row animated fadeIn" ng-show="editarTiendaDatosFiscales.datosFiscales.tipoPersona">
                <div class="col-sm-12">
                    <h3 class="text-navy">Dirección Fiscal</h3>
                </div>
                <forma-direccion
                        direccion="editarTiendaDatosFiscales.datosFiscales">
                </forma-direccion>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <alertas tipo="editarTiendaDatosFiscales.tipoMsj" mensaje="editarTiendaDatosFiscales.msj"></alertas>
                </div>
                <div class="col-md-3">
                    <button type="button"
                            class="btn btn-primary pull-right"
                            ng-show="!editarTiendaDatosFiscales.datosFiscales.rfc"
                            ng-disabled="editarTiendaDatosFiscalesFrm.$invalid"
                            ng-click="editarTiendaDatosFiscales.altaDatosFiscales()">
                        Guardar Datos Fiscales y Dirección
                    </button>
                    <!--
                    <button type="button"
                            class="btn btn-primary pull-right"
                            ng-show="editarTiendaDatosFiscales.datosFiscales.codigoPostal"
                            ng-disabled="editarTiendaDatosFiscalesFrm.$invalid"
                            ng-click="editarTiendaDatosFiscales.guardarDatosFiscales()">
                        Actualizar Dirección
                    </button>
                    -->
                </div>
            </div>
        </div>
    </div>
</form>