<form class="animated fadeInRight" role="form" id="editarProveedorDireccionFrmId" name="editarProveedorDireccionFrm" novalidate>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <forma-direccion direccion="editarProveedorDireccion.direccion"></forma-direccion>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <alertas tipo="editarProveedorDireccion.tipoMsj" mensaje="editarProveedorDireccion.msj"></alertas>
                </div>
                <div class="col-md-3">
                    <button type="button"
                            class="btn btn-primary pull-right"
                            ng-hide="editarProveedorDireccion.direccion._id"
                            ng-disabled="editarProveedorDireccionFrm.$invalid"
                            ng-click="editarProveedorDireccion.guardarDireccion()">
                        Guardar
                    </button>
                    <button type="button"
                            class="btn btn-primary pull-right"
                            ng-show="editarProveedorDireccion.direccion._id"
                            ng-disabled="editarProveedorDireccionFrm.$invalid"
                            ng-click="editarProveedorDireccion.actualizarDireccion()">
                        Actualizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>