<div class="correcion-login">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">
                    <!--CCPA-->
                    <img src="images//logo-ccp-1000x500.png" class="img-responsive" alt="">
                </h1>
            </div>
            <h3>Centro Comercial de Pisos y Azulejos</h3>
            <p>"El más barato de México"</p>
            <p>Iniciar sesión</p>
            <form role="form" class="property-submit-form" id="loginFormId" name="loginForm" nonvalidate>
                <!-- CORREO-->
                <div class="form-group"
                     ng-class="{ 'has-error' : loginForm.usuario.$invalid && !loginForm.usuario.$pristine }">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon span-demos">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <input id="candidatoEmailID" class="form-control" name="usuario" type="text" placeholder=""
                               aria-describedby="basic-addon1" required ng-model="login.credentials.username">
                    </div>
                    <div ng-messages="loginForm.usuario.$dirty && loginForm.usuario.$error" role="alert">
                        <div ng-message="required" style="color:red">Campo requerido</div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon span-demos">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                        <input id="candidatoPasswordID" class="form-control" name="password" type="password" placeholder=""
                               aria-describedby="basic-addon1" required ng-model="login.credentials.password">
                    </div>
                    <div ng-messages="loginForm.password.$dirty && loginForm.password.$error" role="alert">
                        <div ng-message="required" style="color:red">Campo requerido</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default block full-width m-b" ng-click="login.login()">Entrar</button>
                <div class="row">
                    <alertas tipo="login.tipoMsj" mensaje="login.msj"></alertas>
                </div>
                <a ui-sref="forgot_password">
                    <small>Recuperar contraseña</small>
                </a>
                <p class="text-muted text-center">
                    <!--<small>Do not have an account?</small>-->
                </p>
                <!--<a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>-->
            </form>
            <p class="m-t">
                <small>Centro Comercial de Pisos y Azulejos S.A. de C.V. @2017</small>
            </p>
        </div>
    </div>
</div>
