<div class="row">
    <div class="col-xs-4">
        <buscar-marca marca="factorMarca.marcaSelec"></buscar-marca>
    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">
        <button class="btn btn-primary btn-sm pull-right"
                ng-disabled="!factorMarca.marcaSelec._id"
                ng-click="factorMarca.confirmar()">
            Aplicar Factor
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
        <alertas tipo="factorMarca.tipoMsj" mensaje=""></alertas>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-default btn-sm pull-left"
                ng-disabled="factorMarca.productosAplicarFac.length === 0 || !factorMarca.marcaSelec._id"
                ng-click="factorMarca.mostrar = !factorMarca.mostrar">
            Agregar Excepciones
        </button>
    </div>
</div>
<div class="row" uib-collapse="factorMarca.mostrar" class="row">
    <div class="col-sm-6 b-r">
        <h3 class="m-t-none m-b">
            <buscar-producto marcaid="factorMarca.marcaSelec._id"
                             producto="factorMarca.productoSelec">
            </buscar-producto>
        </h3>
        <p></p>
        <lista-productos-tienda
                marca="factorMarca.marcaSelec" producto="factorMarca.productoSelec"
                tienda-id="factorMarca.tiendaId" agregar-prod="factorMarca.agregar(_id, marca, producto)">
        </lista-productos-tienda>
    </div>
    <div class="col-sm-6">
        <h4>Lsita de excepciones&nbsp;</h4>
        <p></p>
        <lista-productos-factores productos="factorMarca.prodsExcepciones"></lista-productos-factores>
    </div>
</div>

