<form id="configProductoTiendaFrmId" name="configProductoTiendaFrm" role="form">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-12">
            <h2>{{configProductoTienda.producto.producto().campoBusqueda}}</h2>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="contact-box">
                            <div class="col-sm-12">
                                <div class="text-center">
                                    <i class="fa fa-money fa-4x" aria-hidden="true"></i>
                                    <div class="m-t-xs font-bold"></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <h2>FACTOR</h2>
                                <h2>{{configProductoTienda.producto.factor().nombre}}</h2>
                                <inventario-producto-factor
                                        factor-id="configProductoTienda.producto.factorId"
                                        costo="configProductoTienda.producto.costo">
                                </inventario-producto-factor>
                            </div>
                            <div class="col-sm-12">
                                <button type="button"
                                        class="btn btn-primary btn-xs pull-right"
                                        ng-click="configProductoTienda.reasignarFactorModal(configProductoTienda.producto, configProductoTienda.producto.producto().campoBusqueda)">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact-box">
                            <div class="col-sm-12">
                                <div class="text-center">
                                    <i class="fa fa-hand-o-down fa-4x" aria-hidden="true"></i>
                                    <div class="m-t-xs font-bold"></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <h2>PROMOCIÓN</h2>
                                <h2>{{configProductoTienda.producto.promocion().nombre}}</h2>
                            </div>
                            <div class="col-sm-12">
                                <button type="button"
                                        class="btn btn-primary btn-xs pull-right"
                                        ng-click="configProductoTienda.editar()">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="contact-box">
                            <div class="col-sm-12">
                                <div class="text-center">
                                    <i class="fa fa-briefcase fa-4x" aria-hidden="true"></i>
                                    <div class="m-t-xs font-bold"></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <h2>COMISIÓN</h2>
                                <h2>{{configProductoTienda.producto.comision().nombre}}</h2>
                            </div>
                            <div class="col-sm-12">
                                <button type="button"
                                        class="btn btn-primary btn-xs pull-right"
                                        ng-click="configProductoTienda.editar()">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
