<h2>Tiendas del Grupo</h2>
<hr>
<div class="row">
    <div class="col-xs-4">
        <a ui-sref="app.tienda.agregar.datos" class="btn btn-primary btn-sm">Agregar Tienda</a>
    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">
        <buscar-tienda tienda="listaTiendas.tiendaSelec"></buscar-tienda>
    </div>
</div>
<div class="clients-list">
    <div class="full-height-scroll" full-scroll>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                    <tr dir-paginate="tienda in listaTiendas.tiendas | itemsPerPage: listaTiendas.perPage"
                        total-items="listaTiendas.tiendasCount">
                        <td><a ui-sref="app.tienda.admon.personal.lista({tiendaId: tienda._id})" class="client-link">{{tienda.nombre}}</a></td>
                        <td><i class="fa fa-envelope"> </i> {{tienda.email}}</td>
                        <td><i class="fa fa-phone"> </i> +{{tienda.telefonos[0].telefono}}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <a type="button"
                                   class="btn btn-default"
                                   ui-sref="app.tienda.editar.generales({tiendaId: tienda._id})">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                                </a>
                                <a type="button"
                                   class="btn btn-default"
                                   ui-sref="app.tienda.sucursal({tiendaId: tienda._id})">
                                    <i class="fa fa-industry" aria-hidden="true"></i> Agregar Sucursal
                                </a>
                                <a type="button"
                                   class="btn btn-default"
                                   ng-click="listaTiendas.abreModalDealles(tienda)">
                                    <i class="fa fa-info" aria-hidden="true"></i> Ver Más
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls on-page-change="listaTiendas.pageChanged(newPageNumber)"></dir-pagination-controls>
        </div>
    </div>
</div>