<h2>Tiendas del Grupo</h2>
<hr>
<div class="row">
    <div class="col-xs-4">
        <a ui-sref="app.tienda.agregar.datos" class="btn btn-primary btn-sm">Agregar Tienda</a>
    </div>
    <div class="col-xs-4">
        <buscar-tienda tienda="listaTiendas.tiendaSelec"></buscar-tienda>
    </div>
    <div class="col-xs-4">

    </div>
</div>
<div class="row">
    <div class="col-sm-4 ajustar"
         dir-paginate="tienda in listaTiendas.tiendas | itemsPerPage: listaTiendas.perPage"
         total-items="listaTiendas.tiendasCount">
        <div class="contact-box">
            <a ui-sref="app.tienda.admon.empleados.lista({tiendaId: tienda._id})">
                <div class="row">
                    <div class="col-sm-1">
                        <i class="fa fa-industry" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-11">
                        <h3><strong>{{tienda.nombre}}</strong></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-phone" aria-hidden="true" ng-hide="!tienda.telefonos"></i>
                        <span ng-hide="tienda.telefonos" style="color: red">
                            <strong class="label label-danger"><i class="fa fa-exclamation-triangle"></i>&nbsp; COMPLETAR TELÉFONO</strong>
                        </span>
                        <span ng-repeat="telefono in tienda.telefonos"
                              ng-hide="!tienda.telefonos">
                            {{telefono.telefono}},
                            <span ng-show="telefono.extension">
                                Ext. {{telefono.extension}},
                            </span>
                        </span>
                        <mostrar-direccion propietario-id="tienda._id"></mostrar-direccion>
                        <hr>
                        <mostrar-datos-fiscales propietario-id="tienda._id" tienda-matriz="tienda.tiendaMatrizId"></mostrar-datos-fiscales>

                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </a>
            <div class="row">
                <div class="col-sm-12">
                    <a ui-sref="app.tienda.agregarSucursal.datos({tiendaId: tienda._id})"
                       ng-class="{'disabled' : tienda.tiendaMatrizId || tienda.tiendaMatrizId}"
                       class="btn btn-white btn-sm">
                        <i class="fa fa-industry"></i> Agregar Sucursal
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<dir-pagination-controls on-page-change="listaTiendas.pageChanged(newPageNumber)"></dir-pagination-controls>

<!--
TODO => Validar la cuenta contable con alerta
Ya que al momento de la carga masiva de las cuentas contable a la base de mongo no se sabe si todas las tiendas
y proveedoras tendrán dicha cuenta de manera válida, no repetida y vigente.
-->