<form id="direccionFormId" class="property-submit-form" name="direccionFrm" role="form" nonvalidate>
    <!-- CÓDIGO POSTAL  -->
    <div class="form-group"
         ng-class="{ 'has-error' : direccionFrm.codigoPostal.$invalid && !direccionFrm.codigoPostal.$pristine}">
        <div class="input-group">
            <span class="input-group-addon">
                &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
            </span>
            <input id="codigoPostalID" class="form-control" name="codigoPostal" type="text" placeholder="Código Postal"
                   aria-describedby="sizing-addon1" maxlength="5" minlength="5" ng-maxlength="5" ng-minlength="5"
                   ng-pattern="/^[0-9]{5}$/" required codigopostal
                   ng-model="actualizarDireccion.direccion.codigoPostal">
        </div>
        <div ng-messages="direccionFrm.codigoPostal.$dirty && direccionFrm.codigoPostal.$error" role="alert">
            <div style="color:red;" ng-message="required"> Campo requerido</div>
            <div style="color:red;" ng-message="minlength"> Longitud mínima 5 caracteres</div>
            <div style="color:red;" ng-message="maxlength"> Longitud máxima 5 caracteres</div>
            <div style="color:red;" ng-message="pattern"> Sólo 5 caracteres numéricos</div>
        </div>
    </div>
    <!-- ESTADO  -->
    <div class="form-group" ng-class="{ 'has-error' : direccionFrm.estado.$invalid && !direccionFrm.estado.$pristine}">
        <div class="input-group">
            <span class="input-group-addon">
                <strong>Tx</strong>
            </span>
            <input id="estadoID" class="form-control disabled" name="estado" type="text" placeholder="Estado"
                   aria-describedby="sizing-addon1" required disabled=""
                   ng-model="actualizarDireccion.direccion.estado">
        </div>
        <div ng-messages="direccionFrm.estado.$dirty && direccionFrm.estado.$error" role="alert">
            <div style="color:red;" ng-message="required">Campo requerido</div>
            <div style="color:red;" ng-message="minlength">Longitud mínima 1 caracter</div>
            <div style="color:red;" ng-message="maxlength">Longitud máxima 25 caracteres</div>
        </div>
    </div>
    <!-- DELEGACIÓN o MUNICIPIO -->
    <div class="form-group"
         ng-class="{ 'has-error' : direccionFrm.delMpio.$invalid && !direccionFrm.delMpio.$pristine}">
        <div class="input-group">
            <span class="input-group-addon">
                <strong>Tx</strong>
            </span>
            <input id="delMpioID" class="form-control" name="delMpio" type="text" placeholder="Delegación/Municipio"
                   aria-describedby="sizing-addon1" required disabled=""
                   ng-model="actualizarDireccion.direccion.delMpio">
        </div>
        <div ng-messages="direccionFrm.delMpio.$dirty && direccionFrm.delMpio.$error" role="alert">
            <div style="color:red;" ng-message="required">Campo requerido</div>
        </div>
    </div>
    <!-- COLONIA -->
    <div class="form-group"
         ng-class="{ 'has-error' : direccionFrm.colonia.$invalid && !direccionFrm.colonia.$pristine}">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
            <select id="coloniaID" class="form-control" name="colonia" type="text" aria-describedby="sizing-addon1"
                    required
                    ng-options="colonia.colonia as colonia.colonia for colonia in actualizarDireccion.colonias track by colonia.colonia"
                    ng-model="actualizarDireccion.direccion.colonia">
                <option value="">
                    Colonia
                </option>
            </select>
        </div>
        <div ng-messages="direccionFrm.colonia.$dirty && direccionFrm.colonia.$error" role="alert">
            <div style="color:red;" ng-message="required"> Campo requerido</div>
        </div>
    </div>
    <!-- CALLE  -->
    <div class="form-group" ng-class="{ 'has-error' : direccionFrm.calle.$invalid && !direccionFrm.calle.$pristine}">
        <div class="input-group">
            <span class="input-group-addon">
                <strong>Tx</strong>
            </span>
            <input id="calleID" class="form-control" name="calle" type="text" placeholder="Calle"
                   aria-describedby="sizing-addon1" maxlength="31" minlength="1" ng-maxlength="30" ng-minlength="1"
                   ng-pattern="/^[a-zA-Z-/.&ÑñáéíóúÁÉÍÓÚ-\s\d]+$/" ng-model="actualizarDireccion.direccion.calle">
        </div>
        <div ng-messages="direccionFrm.calle.$dirty && direccionFrm.calle.$error" role="alert">
            <div style="color:red;" ng-message="minlength"> Longitud mínima 1 caracter</div>
            <div style="color:red;" ng-message="maxlength"> Longitud máxima 30 caracteres</div>
            <div style="color:red;" ng-message="pattern"> Sólo caracteres alfanuméricos</div>
        </div>
    </div>
    <!-- NÚMERO EXTERIOR  -->
    <div class="form-group" ng-class="{ 'has-error' : direccionFrm.numExt.$invalid && !direccionFrm.numExt.$pristine}">
        <div class="input-group">
            <span class="input-group-addon">
                <strong>Tx</strong>
            </span>
            <input id="numExtID" class="form-control" name="numExt" type="text" placeholder="N° Exterior"
                   aria-describedby="sizing-addon1" maxlength="11" minlength="1" ng-maxlength="10" ng-minlength="1"
                   ng-pattern="/^[a-zA-Z-/.&ÑñáéíóúÁÉÍÓÚ-\s\d]+$/" ng-model="actualizarDireccion.direccion.numExt">
        </div>
        <div ng-messages="direccionFrm.numExt.$dirty && direccionFrm.numExt.$error" role="alert">
            <div style="color:red;" ng-message="minlength"> Longitud mínima 1 caracter</div>
            <div style="color:red;" ng-message="maxlength"> Longitud máxima 10 caracteres</div>
            <div style="color:red;" ng-message="pattern"> Sólo caracteres alfanuméricos</div>
        </div>
    </div>
    <!-- NÚMERO INTERIOR  -->
    <div class="form-group" ng-class="{ 'has-error' : direccionFrm.numInt.$invalid && !direccionFrm.numInt.$pristine}">
        <div class="input-group">
            <span class="input-group-addon">
                <strong>Tx</strong>
            </span>
            <input id="numIntID" class="form-control" name="numInt" type="text" placeholder="N° Interior"
                   aria-describedby="sizing-addon1" maxlength="11" minlength="1" ng-maxlength="10" ng-minlength="1"
                   ng-pattern="/^[a-zA-Z-/.&ÑñáéíóúÁÉÍÓÚ-\s\d]+$/" ng-model="actualizarDireccion.direccion.numInt">
        </div>
        <div ng-messages="direccionFrm.numInt.$dirty && direccionFrm.numInt.$error" role="alert">
            <div style="color:red;" ng-message="minlength"> Longitud mínima 1 caracter</div>
            <div style="color:red;" ng-message="maxlength"> Longitud máxima 10 caracteres</div>
            <div style="color:red;" ng-message="pattern"> Sólo caracteres alfanuméricos</div>
        </div>
    </div>
    <!-- BOTON GUARDAR CAMBIOS-->
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default btn-block"
                    ng-class="{'disabled': actualizarDireccion.cargando === false}"
                    ng-disabled="direccionFrm.$invalid || actualizarDireccion.cargando === false"
                    ng-click="actualizarDireccion.actualizar()">
                <span ng-hide="actualizarDireccion.cargando"
                      class="glyphicon glyphicon-refresh animacion-cargando">
                </span>
                <span ng-hide="actualizarDireccion.cargando">procesando...</span>
                <span ng-show="actualizarDireccion.cargando">Enviar</span>
            </button>
        </div>
    </div>
    <!-- ALERTA: ÉXITO/FALLO al hacer la operación -->
    <div class="row">
        <br>
        <div class="col-xs-12">
            <alertas tipo="actualizarDireccion.tipoMsj"
                     mensaje="actualizarDireccion.msj"></alertas>
        </div>
    </div>
</form>