<div class="row">
    <!-- TÍTULO -->
    <div class="col-sm-10">
        <h2>Tienda: <span class="text-navy">{{editarTienda.tienda.nombre}}</span></h2>
    </div>
    <!-- ATRÄS-->
    <div class="col-sm-2">
        <div class="ibox-tools">
            <a ui-sref="app.tienda.lista" class="small"><i class="fa fa-chevron-left text-navy"></i> <span class="text-navy"> Editar</span></a>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <!--MOSTRAR CUANDO SEA SUCURSAL-->
        <uib-accordion
                ng-show="editarTienda.tienda.tiendaMatrizId"
                close-others="oneAtATime">
            <div uib-accordion-group
                 ng-repeat="fole in editarTienda.tiendaSucursal"
                 class="panel-default"
                 ui-sref="{{fole.estado}}({tiendaId: editarTienda.tiendaId})"
                 heading="{{fole.titulo}}">
                <div ui-view=""></div>
            </div>
        </uib-accordion>
        <!--MOSTRAR CUANDO SEA TIENDA MATRIZ-->
        <uib-accordion
                ng-show="!editarTienda.tienda.tiendaMatrizId"
                close-others="oneAtATime">
            <div uib-accordion-group
                 ng-repeat="fole in editarTienda.tiendaMatriz"
                 class="panel-default"
                 ui-sref="{{fole.estado}}({tiendaId: editarTienda.tiendaId})"
                 heading="{{fole.titulo}}">
                <div ui-view=""></div>
            </div>
        </uib-accordion>
    </div>
</div>