<div class="panel-body">
    <div class="row">
        <div class="col-xs-3">
            <div class="input-group">
                <input type="text" placeholder="Buscar Marca" class="input form-control" ng-model="tabFactores.marca" style="text-transform:uppercase">
                <span class="input-group-btn">
                    <button type="button" class="btn btn btn-primary" ng-click="tabFactores.buscarMarca()"> <i class="fa fa-search"></i> Buscar</button>
                </span>
            </div>
            {{tabFactores.marcas}}

        </div>
        <div class="col-xs-4">
            <strong>FActores</strong>

        </div>
    </div>

</div>
