<div class="row">
    <div class="col-xs-4">
        <a class="btn btn-primary btn-sm" ui-sref="app.tienda.admon.empleados.agregar.datosTemporales">Agregar
            Empleado</a>
    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-6">
        <buscar-empleado tiendaid="listaEmpleados.tiendaId" empleado="listaEmpleados.empleadoSelec"></buscar-empleado>
        {{listaEmpleados.empleadoSelec}}
    </div>
</div>
<div class="full-height-scroll" full-scroll>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
            <tr dir-paginate="empleado in listaEmpleados.empleados | itemsPerPage: listaEmpleados.perPage"
                total-items="listaEmpleados.empleadosCount">
                <td class="client-avatar"><img alt="image" src="images//a3.jpg"></td>
                <td>{{empleado.nombreCompleto}}</td>
                <td class="contact-type">
                    <small>Departamento:</small>
                </td>
                <td> {{empleado.departamentoId}}</td>
                <td class="contact-type"><i class="fa fa-phone"> </i></td>
                <td> +{{empleado.telefono}}</td>
                <td class="client-status">
                    <strong>
                        <small>Estatus:</small>
                    </strong>
                    <span class="label label-info" ng-show="empleado.activo">Activo</span>
                    <span class="label" ng-hide="empleado.activo">Inactivo</span>
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <a type="button"
                           class="btn btn-default"
                           uib-popover="Editar"
                           popover-trigger="'mouseenter'"
                           ui-sref="app.tienda.admon.empleados.editar.generales({empleadoId: empleado._id})">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a type="button"
                           class="btn btn-default"
                           uib-popover="Ver más"
                           popover-trigger="'mouseenter'"
                           ng-click="listaEmpleados.abreModalDealles(empleado)">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </a>
                        <a type="button"
                           class="btn btn-default"
                           uib-popover="Eliminar"
                           popover-trigger="'mouseenter'"
                           ng-click="listaEmpleados.abreModalEliminar(empleado)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls on-page-change="listaEmpleados.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
</div>