<!--<pre>{{ editarProveedorGenerales.proveedor | json }}</pre>-->
<form role="form" class="p-lg" id="datosGeneralesFormId" name="datosGeneralesForm" novalidate>
    <!--DATOS FISCALES-->
    <div class="row animated fadeInRight">
        <div class="col-sm-4 b-r">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Datos Generales</h3>
                    <div class="contact-box">
                        <a href="">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <i class="fa fa fa-book fa-5x" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>{{editarProveedorGenerales.proveedor.nombre}}</strong></h3>
                                <p class="m-t-xs font-bold">Cta. Contable: <strong>{{editarProveedorGenerales.proveedor.cuentaContable}}</strong></p>
                                <address>
                                    <strong><i class="fa fa-envelope-o"></i> {{editarProveedorGenerales.proveedor.email}}</strong><br>
                                    <div ng-repeat="telefono in editarProveedorGenerales.proveedor.telefonos">
                                        {{telefono.telefono}}
                                        <span ng-show="telefono.extension">
                                            Ext. {{telefono.extension}}
                                        </span>
                                    </div>
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <!--BOTON EDITAR -->
                    <button type="button"
                            class="btn btn-primary btn-xs pull-right"
                            ng-click="editarProveedorGenerales.editar()">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-8 animated fadeInRight" ng-show="editarProveedorGenerales.ocultarBoton">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Datos Generales</h3>
                </div>
                <forma-datos-proveedores datos="editarProveedorGenerales.proveedor"></forma-datos-proveedores>
            </div>

        </div>
    </div>
    <hr>
    <!--DIRECCIÓN FISCAL-->
    <div class="row animated fadeInRight">
    </div>
    <!--ALERTA Y BOTÓN-->
    <div class="row">
        <div class="col-md-8">
            <alertas tipo="editarProveedorGenerales.tipoMsj" mensaje="editarProveedorGenerales.msj"></alertas>
        </div>
        <div class="col-md-3" ng-show="!editarProveedorGenerales.msj || editarProveedorGenerales.tipoMsj != 'success'">
            <!--BOTON GUARDAR DATOS GENERALES-->
            <button type="button"
                    class="btn btn-primary pull-right"
                    ng-hide="editarProveedorGenerales.ocultarBoton != true"
                    ng-disabled="datosGeneralesForm.$invalid"
                    ng-click="editarProveedorGenerales.actualizarDatosGenerales()">
                Actualizar
            </button>
        </div>
    </div>
</form>


























<!--<form role="form" class="p-lg" id="agregarTiendaFrmId" name="agregarTiendaFrm" novalidate>-->
    <!--&lt;!&ndash;INFORMACIÓN GENERAL&ndash;&gt;-->
    <!--<div class="row">-->
        <!--<h3>Datos Generales</h3>-->
        <!--<ng-form name="datosGeneralesForm">-->
            <!--&lt;!&ndash;NOMBRE DE LA EMPRESA&ndash;&gt;-->
            <!--<div class="col-sm-6">-->
                <!--<div class="form-group" ng-class="{ 'has-error' : datosGeneralesForm.nombre.$invalid && !datosGeneralesForm.nombre.$pristine}">-->
                    <!--<div ng-messages="datosGeneralesForm.nombre.$dirty && datosGeneralesForm.nombre.$error" role="alert">-->
                        <!--<label>Nombre corto*-->
                            <!--<span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>-->
                            <!--<span class="animated fadeIn" style="color:red;" ng-message="minlength, maxlength"> min 1, max 50 letras</span>-->
                            <!--<span class="animated fadeIn" style="color:red;" ng-message="pattern"> caracter inválido</span>-->
                        <!--</label>-->
                        <!--<input id="nombreId" class="form-control" name="nombre" type="text"-->
                               <!--placeholder="EJ: METALFLU DEL SUR" aria-describedby="sizing-addon1"-->
                               <!--minlength="2" maxlength="51" ng-minlength="2" ng-maxlength="50"-->
                               <!--ng-pattern="/^[ñÑ\w]+$/" required-->
                               <!--ng-model="editarProveedorGenerales.proveedor.nombre">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; EMAIL DE CONTACTO &ndash;&gt;-->
            <!--<div class="col-sm-6">-->
                <!--<div class="form-group" ng-class="{ 'has-error' : datosGeneralesForm.email.$invalid && !datosGeneralesForm.email.$pristine}">-->
                    <!--<div ng-messages="datosGeneralesForm.email.$dirty && datosGeneralesForm.email.$error" role="alert">-->
                        <!--<label> Email *-->
                            <!--<span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>-->
                            <!--<span class="animated fadeIn" style="color:red;" ng-message="email">incorrecto</span>-->
                            <!--<span class="animated fadeIn" style="color:red;" ng-message="mixlength, maxlength"> min 2, max 50 letras</span>-->
                        <!--</label>-->
                        <!--<input id="emailId" class="form-control" name="email" type="email"-->
                               <!--aria-describedby="sizing-addon1" minlength="5"-->
                               <!--maxlength="51" ng-minlength="5" ng-maxlength="50" required-->
                               <!--ng-model="editarProveedorGenerales.proveedor.email">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;CUENTA CONTABLE&ndash;&gt;-->
            <!--<div class="col-sm-6">-->
                <!--<div class="form-group" ng-class="{ 'has-error' : datosGeneralesForm.cuentaContable.$invalid && !datosGeneralesForm.cuentaContable.$pristine}">-->
                    <!--<div ng-messages="datosGeneralesForm.cuentaContable.$dirty && datosGeneralesForm.cuentaContable.$error" role="alert">-->
                        <!--<label>Cuenta Contable *-->
                            <!--<span class="animated fadeIn" style="color:red;" ng-message="required"> requerido</span>-->
                            <!--<span class="animated fadeIn" style="color:red;" ng-message="minlength, maxlength"> 9 dígitos</span>-->
                            <!--<span class="animated fadeIn" style="color:red;" ng-message="pattern"> caracter inválido</span>-->
                            <!--<span class="animated fadeIn" style="color:red;" ng-message="existecta">registrado</span>-->
                        <!--</label>-->
                        <!--<cuenta-contable dato="editarProveedorGenerales.proveedor.cuentaContable"></cuenta-contable>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; TELÉFONOS DE CONTACTO&ndash;&gt;-->
            <!--<span class="animated fadeIn" ng-repeat="telefono in editarProveedorGenerales.proveedor.telefonos track by $index">-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="form-group" ng-class="{ 'has-error' : datosGeneralesForm['telefono'+$index].$invalid && !datosGeneralesForm ['telefono'+$index].$pristine}">-->
                        <!--<div ng-messages="datosGeneralesForm['telefono'+$index].$dirty && datosGeneralesForm['telefono'+$index].$error" role="alert">-->
                            <!--<label> Teléfono <span class="font-bold text-navy">{{$index + 1}}</span> *-->
                                <!--<span class="animated fadeIn" style="color:red;" ng-message="required">requerido</span>-->
                                <!--<span class="animated fadeIn" style="color:red;" ng-message="pattern">10 dígitos</span>-->
                                <!--<span class="animated fadeIn" style="color:red;" ng-message="pattern">inválido</span>-->
                            <!--</label>-->
                            <!--<input id="telefonosId" class="form-control" type="text" name="telefono{{$index}}"-->
                                   <!--aria-describedby="sizing-addon1" maxlength="10"-->
                                   <!--ng-pattern="/^[0-9]{10}$/" required-->
                                   <!--ng-model="telefono['telefono']">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; TELÉFONO EXTENSIÓN &ndash;&gt;-->
                <!--<div class="col-sm-2">-->
                    <!--<div class="form-group" ng-class="{ 'has-error' : datosGeneralesForm['extension'+$index].$invalid && !datosGeneralesForm['extension'+$index].$pristine}">-->
                        <!--<div ng-messages="datosGeneralesForm['extension'+$index].$dirty && datosGeneralesForm['extension'+$index].$error" role="alert">-->
                            <!--<label>&nbsp;-->
                                <!--<span class="animated fadeIn" style="color:red;" ng-message="pattern">número</span>-->
                            <!--</label>-->
                            <!--<input id="extensionId"-->
                                   <!--class="form-control"-->
                                   <!--type="text"-->
                                   <!--name="extension{{$index}}"-->
                                   <!--placeholder="Ext"-->
                                   <!--aria-describedby="sizing-addon1"-->
                                   <!--maxlength="5"-->
                                   <!--ng-pattern="/^([0-9])*$/"-->
                                   <!--ng-model="telefono['extension']">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</span>-->
            <!--&lt;!&ndash;BOTON AÑADIR TELÉFONO &ndash;&gt;-->
            <!--<div class="col-sm-12">-->
                <!--<button type="button" class="btn btn-primary btn-sm" ng-click="editarProveedorGenerales.agregarTelefono()">-->
                    <!--Añadir teléfono-->
                <!--</button>-->
            <!--</div>-->
        <!--</ng-form>-->
    <!--</div>-->
    <!--&lt;!&ndash;ALERTA Y BOTÓN&ndash;&gt;-->
    <!--<div class="row">-->
        <!--<div class="col-md-offset-2 col-md-7">-->
            <!--<alertas tipo="editarProveedorGenerales.tipoMsj" mensaje="editarProveedorGenerales.msj"></alertas>-->
        <!--</div>-->
        <!--<div class="col-xs-3">-->
            <!--&lt;!&ndash; BOTON GUARDAR DATOS GENERALES (Del paso 1 al paso 2) &ndash;&gt;-->
            <!--<button type="button"-->
                    <!--class="btn btn-primary pull-right"-->
                    <!--ng-disabled="agregarTiendaFrm.$invalid"-->
                    <!--ng-click="editarProveedorGenerales.guardar()">-->
                <!--Actualizar-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->